[2012-10-24 13:43] pilfs opened #1 "Two minor issues with the cmake install procedure"
makefiles/cmake/vmcs.cmake - Line 54 - makefiles/cmake/scripts/install_vmcs is missing from repo.

interface/vchiq_arm/CMakeLists.txt - Line 9 - etc/10-vchiq.rules is also missing.

Other than that it builds and installs fine natively on the Pi.

Thanks Broadcom!

Update:
Oh wait, it's also missing bcm_host.h and doesn't install a lot of interface headers...
Maybe repo was never ment as a complete

[2012-10-25 16:48] ghost opened #2 "Can we have a toolchain for the RPi?"
At the moment the "buildme" defines "CMAKE_TOOLCHAIN_FILE" which is designed to use the cross compiler. Would it be possible to add a ".cmake" configuration for use on the RPi please?

[2012-10-28 17:30] simonjhall opened #3 "khrn_image_is_tformat?"
Hi there,

when linking my programs against this library (including the sample hello_\* programs) I'm seeing an undefined reference to khrn_image_is_tformat.

When grepping the whole 'userland' repo I only see three instances of it, and they're all invocations of the function (no definition or prototypes).

Where can I find the definition for this function?
There's a stack of similar-looking funct

[2012-11-08 19:09] gamaral opened #4 "Missing files (install command fails)"
It seems that a few files are missing "makefiles/cmake/scripts/install_vmcs" and "interface/vchiq_arm/etc/10-vchiq.rules". The install command fails on account of that.

[2012-11-08 22:12] #4 closed, assigned to nobody

[2012-11-13 02:08] #3 closed, assigned to nobody

[2012-11-21 17:43] #1 closed, assigned to nobody

[2013-01-24 16:34] julianscheel opened #9 "vcos/pthreads headers are not installed"
With commit
61232b4 Add hello_pi apps and bcm_host.h to userland. Merge with latest code.
the installation of the header files in vcos/pthreads was disabled. I don't think this was intended, as it breaks build of almost everything, cause these headers are referenced by other headers at many places.

[2013-02-02 21:21] mjhammel opened #11 "unrecognized option '-_HAVE_SBRK'"
Building userland from master using a toolchain I rolled myself with CrosstoolNG.  I get the following:

[ 51%] Building ASM object interface/khronos/CMakeFiles/khrn_static.dir/common/khrn_int_hash_asm.s.o
/home/mjhammel/src/ximba/raspberrypi/bld/crosstool-ng-1.15.2.bld/install/bin/arm-unknown-linux-gnueabi-as: unrecognized option '-_HAVE_SBRK'
make[3]: **\* [interface/khronos/CMakeFiles/khrn_stat

[2013-02-02 21:43] mjhammel opened #12 "integration validation test tools?"
I've built my own embedded distribution based on CrosstoolNG, Buildroot/Busybox and the raspberry pi firmware and userland repos.  I cross compiled xbmc to use on this distribution, but its failing to start.  I get these lines in an strace output of the xbmc binary:
# grep vchiq /tmp/xbmc.strace

open("/opt/xbmc-bcm/xbmc-bin/lib/libvchiq_arm.so", O_RDONLY) = -1 ENOENT (No such file or directory)
o

[2013-02-03 17:56] #11 closed, assigned to nobody

[2013-03-11 12:29] aharter opened #13 "[Question] Circular Dependencies interface/khronos"
Are there any plans to remove the circular dependencies in interface/khronos?
It won't work in a Android environment, which is a known problem according to the CMakeLists.txt.
Is it even possible to resolve those dependencies?

[2013-03-30 16:47] jcjveraa opened #17 "raspicam breaks build?"
Hey there, I'm trying to compile berryboot from source as per the instructions here https://github.com/maxnet/berryboot, and this fails on "error: redefinition of typedef 'VCOS_SEMAPHORE_T'" in raspicam (see attached image).  I see this was added 16 hours ago, is it a bug here or on the berryboot side, or just my system messing up?

![Capture](https://f.cloud.github.com/assets/3942301/320662/868c5

[2013-03-31 15:37] #17 closed, assigned to nobody

[2013-03-31 20:25] kientzle opened #19 "Build failure with CLang"
Building with Clang fails because Clang is stricter about implicit type conversions than GCC.  (This is on FreeBSD, which is in the process of switching the system compiler for ARM from GCC to clang.)  The specific error is pasted below.

One possible fix would remove -Werror from mmal/CMakeLists.txt.  Another would add explicit casts to these two assignments.  Clang complains about a number of ot

[2013-04-06 16:25] kientzle opened #20 "Apparent typo? Use = for assignment, not =="
Sorting through compiler warnings; this looks like a real bug; the apparent intent of this code is to change the group in this case, but it looks like someone typed "==" where they intended "=".

/usr/home/tim/projects/crochet-rpi/vcuserland/interface/vmcs_host/vc_vchi_tvservice.c:1564:13: warning: equality
      comparison result unused [-Wunused-comparison]
      group == HDMI_RES_GROUP_CEA;
[co

[2013-04-24 13:31] wcabaid opened #21 "Is this a working source set for Android?"
Hello,

I could build EGL lib successfully with this userland source without any problem.

But when I build this with -DANDROID option, I fount there are some dependency related android/log.h  and gralloc_brcm.h.  So, I tried to find the h file, but I couldn't find where is gralloc_brcm.h.

I guess this userland source is already ported as android, but some files related to gralloc still not opene

[2013-04-24 13:51] #21 closed, assigned to nobody

[2013-05-16 01:14] lurch opened #22 "host_applications/linux/apps/raspicam/Makefile is broken"
I ran 'make' and it complained that '../Makefile.include' was missing, so I changed that line in the Makefile to 'include ../hello_pi/Makefile.include'
Then running 'make' complained that 'interface/mmal/mmal.h' was missing, so I added 'INCLUDES+=-I../../../..' to the Makeile.
Then running 'make' ran to completion, but it only produced a single 'raspicam.bin' file, rather than the three separate r

[2013-05-16 01:18] lurch opened #23 "Camera-app's --help flag doesn't work"
For each of raspivid, raspistill and raspiyuv, running them with --help e.g. 'raspivid --help' just displays the full-screen video preview overlay, rather than displaying the expected help text!

[2013-05-16 01:21] lurch opened #24 "hello_videocube doesn't get built by rebuild.sh"
...simply because host_applications/linux/apps/hello_pi/rebuild.sh is missing entries for the hello_videocube directory.

[2013-05-17 10:47] FFAMax opened #25 "Video issue"
raspistill make fine picture, raspivid and raspiyuv make broken video files. Players can't decode it.

 $ sudo raspivid -v -t 1000 -o –   | nc 10.0.6.253 5001
# RaspiVid Camera App

Width 1920, Height 1080, filename –
bitrate 17000000, framerate 30, time delay 1000
Sharpness 0, Contrast 0, Brightness 50
Saturation 0, ISO 400, Video Stabilisation No, Exposure compensation 0
Exposure Mode 'auto', AW

[2013-05-18 13:42] TechColab opened #26 "no preview using raspistill -vf"
Hi, first post so I hope I get this right.
When using "raspistill -o myfile.jpj" there is a preview for you to position etc. before the final still is taken.  However if you use the "-vf" or "-rot 180" then the preview doesn't display.  There is still a delay but no picture until a brief flash as the final image is taken.
N.B. the "-vf" is very handy for just resting the camera on the table withou

[2013-05-20 02:36] #24 closed, assigned to nobody

[2013-05-20 11:24] P33M opened #27 "raspistill: zero-length files are written if filesystem is full"
I accidentally started writing images to a tiny partition on a USB flash drive and ended up with 0-byte files being written with no feedback from the program once the destination drive filled up.

In raspistill.c:506 encoder_buffer_callback() the return of fwrite() is never checked. Perhaps check the size_t returned versus the length of the data (or for zero)?

[2013-05-20 14:40] jeffism opened #28 "Raspivid raw frame data output"
Requesting option for raspivid to output raw frame data for image processing/analysis. Even if we can only use low resolution or low frame rate to not overload the Pi's limited CPU power, it'll make for a cheap, compact unit for computer vision projects.

I have already tried modifying https://github.com/raspberrypi/userland/blob/master/host_applications/linux/apps/raspicam/RaspiVid.c#L695 to a di

[2013-05-20 16:31] kkrieger85 opened #29 "Default Filename"
Hi,
I'd appreciate if there was a default filename for images and vids like timestamp.

[2013-05-20 19:06] shrx opened #30 "[RPi Camera] Bottom line of image looks strange"
I did a night time lapse test and when I analysed the images I found something curious:
Applying a "multiply" effect revealed a strange line at the bottom of the images that looks like a part of the image is corrupted. This is more noticeable with darker images, and some of them were pitch black - that's why I managed to spot it.
The code I used to capture the images: `    raspistill -o image$i.jp

[2013-05-21 12:37] peepo opened #31 "-n segfault"
/opt/vc/bin/raspistill -n -t 0 -o test.jpg
$ segfault

when display is not attached ((

in my state of ignorance it seemed possible that setting no preview when display is not connected might preserve resources.

[2013-05-21 20:06] #31 closed, assigned to JamesH65

[2013-05-21 20:15] peepo opened #32 "enhancement: ISP implement ROI"
it may be helpful to be able to programme ISP to send ROI for saving,
in some circumstances.

I am keen to experiment with this aspect which is a regular feature of more expensive research equipment and board camera software.

http://www.raspberrypi.org/phpBB3/viewtopic.php?p=343665#p343665

[2013-05-21 20:50] towolf opened #33 "raspi{vid,still} --exposure verylong doesn’t work"
Switching to MMAL_PARAM_EXPOSUREMODE_NIGHT is very nifty, as can be seen here:

![](http://i.imgur.com/KjUqjN1.png)

It gives shots with low light much more exposure time, at the cost of fixed fps. You can see it ramps fps down as light fades and then flatlines at 4fps.

First question, why 4fps. Could it go lower?

To see how low I wonder what MMAL_PARAM_EXPOSUREMODE_VERYLONG does.

And why does

[2013-05-21 21:27] towolf opened #34 "raspicam --ev -10..10 is not EV"
I don’t know what this is doing but what it is setting is not EV, i.e., log_2 scale. It’s quite small increments. Please clarify

[2013-05-21 21:31] towolf opened #35 "raspicam --exposure off doesn’t work"
I get a black frame, no matter the settings.

Is there any way to achieve truly manual exposure? i.e., set ISO and exposure time by hand.

[2013-05-22 15:14] squidrpi opened #36 "Dispmanx without anti-aliasing scaling"
Dispmanx does anti-aliasing scaling for pretty much no cost but there doesn't appear to be a way in the API to do the scaling without anti-aliasing. i.e. vc_dispmanx_element_add

GLES2 can do scaling without anti-aliasing with the GL_NEAREST setting but I'm not getting as good performance as I do with my Dispmanx backend, so using GLES2 is out of the question. I would have assumed the GPU is ultim

[2013-05-22 16:05] #36 closed, assigned to nobody

[2013-05-22 22:49] OldBoyCoder opened #37 "Raspicam - EXIF data not being written to output file"
Noted in the forums but added here for completeness. The EXIF tags set in raspicam are not appearing in the output JPG, I'm not convinced that the EXIF tags that are there are always correct. Thanks.

[2013-05-24 16:04] towolf opened #38 "Muxing live video in a container with correct (possibly variable) frame rates"
Right now piping video into a video processor like ffmpeg gives incorrect timing in combination with --exposure night and in other situations.

Useful formats would be MP4 and MPEG TS.

[2013-05-25 12:16] falcon9x5 opened #39 "Simultaneous access of the camera causes hang and requires a system reboot"
Accessing the camera using two commands at the same time causes the first command to hang, and the second command to fail with the error

[code]

Running ps aux and killing the running raspistill process results in the error not appearing, but the command still hangs

[code]

The system has to be rebooted for it to work again.

This can be reproduced by running a camera command simultaneously in t

[2013-05-25 21:21] amp88 opened #40 "Enhancement: Pad Timelapse Filenames With Leading Zeros Where Appropriate"
Currently when capturing a timelapse series of images specifying the %d modifier for the output filenames the image number which is inserted into the filename is simply the current capture number. For instance, in a series of 10 images specified with the output filename: image%d.jpg the resulting filenames would be image1.jpg, image2.jpg...image10.jpg. This method leaves the sorting of files by fi

[2013-05-27 12:29] #40 closed, assigned to JamesH65

[2013-05-28 16:01] cyryllo opened #41 "white lines in recording a video"
When recording video using the command "raspivid -t 5000 -o video.h264"  recording after the middle of the picture has horizontal white lines flashing.
![pic](https://f.cloud.github.com/assets/288180/573389/b01d95aa-c7af-11e2-9b88-dad51463c984.png)

my rasp: Raspberry Pi ver B 1.0 256MB

video record:
http://qcloud.pl/panel/public.php?service=files&t=973c94d5b59d7fa13f2243ab48a37a52

[2013-05-28 16:24] #41 closed, assigned to JamesH65

[2013-05-29 00:22] throwcomputer opened #42 "raspistill -raw -timelapse fails to record raw after first frame"
Attempted to use raspistill with raw flag and timelapse flag to generate image sequences for video conversion.  Unfortunately only the first still frame saved to disk contains raw bayer data in the jpg exif.  Every following frame is saved normal jpg as if the raw flag was never enabled.

[2013-05-29 06:44] gergaly opened #43 "Can't start raspivid without time limit for live streaming"
I'd like to use raspivid for live streaming of the captured video. But I'm unable to start raspivid without time limit.

So when using the stdout as output allow it to run forever (run raspivid with -t 0 paramter). I came up with the following patch against RaspiVid.c:

[code]

[2013-05-29 16:11] #27 closed, assigned to JamesH65

[2013-05-29 23:23] throwcomputer opened #46 "raspicam whitebalance settings"
There should be an option to set the color balance manually using k values (ie. 3200, 5600, 6500, etc.) in order to fine-tune the color balance of an image/video.

[2013-05-29 23:25] throwcomputer opened #47 "raspicam exit command"
Can we have a command that will exit the execution cleanly as opposed to ctrl+z which sometimes causes the preview window to freeze or the camera to freeze on and become unresponsive.  Only way around recovering is to reboot.  This will also make it easier to exit out of -t -1 executions when needed.

[2013-05-30 09:19] #47 closed, assigned to nobody

[2013-06-06 23:08] towolf opened #50 "Option to disable lens shading correction if possible"
It’s quite easy to unscrew the little lens and do focal imaging with other optics.

Based on the stadard lens, the post-processing assumes a fall-off towards the edge and compensates with a filter. Once the optics change this filter interferes with making good images.

Would be neat if this could be turned off, on-the-fly if possible.

[2013-06-06 23:14] towolf opened #51 "Full frame video"
The video mode currently crops the central 1920x1080 pixels out of the full image.

This leads to much narrower FoV than necessary. It would be better to bin 2x2 pixels and offer the resulting 1296x972 pixels as a high quality (improved SNR) and full-frame video mode.

If a 16/9 aspect ratio is required, a 1280x720 crop would give the widest FoV with no additional resampling.

[2013-06-07 04:11] samnazarko opened #52 "Suggested workaround to --no-preview does not work"
There is currently no way to disable preview. This is the error when using the suggested -p '0,0,0,0' workaround on the elinux wiki:

root@raspbmc:/opt/vc/bin# /opt/vc/bin/raspistill -t 0 -o /home/pi/camera/surveillance.jpeg -w 600 -h 800 -p '0,0,0,0'
mmal: mmal_vc_port_info_set: failed to set port info (3:0): EINVAL
mmal: mmal_vc_port_set_format: mmal_vc_port_info_set failed 0x1cf1c00 (EINVAL)
mm

[2013-06-07 22:53] #52 closed, assigned to nobody

[2013-06-08 11:37] #43 closed, assigned to JamesH65

[2013-06-09 22:46] towolf opened #53 "raspivid --awb doesn’t work when combined with -n"
Auto white-balance in the camera apps only works when the preview is active.

[2013-06-29 10:00] lurch opened #56 "userland repo is missing edid_parser and vcdbg"
As discussed here https://github.com/raspberrypi/firmware/commit/470b34d635343bb7c878f12ea696f16ef6318801 the source-code for edidparser and vcdbg is currently unavailable. AFAICT this makes them the only part of the ARM-side code that isn't yet open-sourced.

Creating this issue as a reminder that they ought to be added at some point...

[2013-07-05 13:13] #42 closed, assigned to JamesH65

[2013-07-05 13:15] #37 closed, assigned to JamesH65

[2013-07-06 11:48] pbrkr opened #59 "Cannot find "vcos_platform_types.h""
I have the following packages in OpenEmbedded failing to build as they include <EGL/egl.h> but then cannot find "vcos_platform_types.h":

mesa-demos 0.8.1
weston 1.1.0
gstreamer1.0-plugins-bad 1.0.7

What's the suggested solution for this? They're all fairly big upstream projects (mesa, weston and gstreamer) which support many platforms. I doubt I'm going to get much luck sending a patch to add a

[2013-07-06 11:49] #9 closed, assigned to nobody

[2013-07-06 11:54] #59 closed, assigned to nobody

[2013-07-06 11:58] betafive opened #60 "README doesn't state where to file issues"
Issues for the userland code seem to be split between this github project and the 'firmware' github project. I'd suggest adding a quick line to the README.md file to point users in the right direction for where to post and look for issues so that you don't get duplicates like the one I just posted...

[2013-07-17 09:41] peepo opened #63 "segfault: dc4?"
/home/pi/src/raspberrypi/userland/interface/vcos/generic/vcos_generic_blockpool.c
is present

have limited experience with gdb or segfault,
please supply gdb instructions as required.

my apologies if this is a C issue rather than a bug,
using an edited version of Tasanakorn's mmal code.

the attached repeatedly occurs within ~2 seconds, but not immediately

Program received signal SIGSEGV, Segmen

[2013-07-17 10:55] #63 closed, assigned to nobody

[2013-07-21 18:42] oroce opened #64 "Baseline profile"
As I can see mml supports different [profiles](https://github.com/raspberrypi/userland/blob/master/interface/mmal/mmal_parameters_video.h#L242).

Currently raspivid outputs h264 high profile, it'd be nice to configure it.

[2013-07-22 22:39] hecko opened #66 "Return value 0 for an error"
If the following error occurs, raspistill returns 0 as retvalue

root@raspberrypi:/opt/webcam/bin# raspistill --rotation 180 -o /opt/webcam/bin/../data/b8jd8tddi2rgw/2013/7/22/2013-07-22T23:36:58UTC.jpg -e jpg -q 50 -n -w 800 -h 600
mmal: mmal_vc_component_enable: failed to enable component: ENOSPC
mmal: camera component couldn't be enabled
mmal: main: Failed to create camera component
mmal: Faile

[2013-07-23 11:32] #26 closed, assigned to JamesH65

[2013-07-23 11:32] #23 closed, assigned to JamesH65

[2013-07-23 11:34] #53 closed, assigned to nobody

[2013-07-23 12:30] #25 closed, assigned to JamesH65

[2013-07-24 10:12] #32 closed, assigned to JamesH65

[2013-07-26 13:00] awehrfritz opened #70 "[Feature request] OpenMAX ALSA sink"
A frequently requested feature in XBMC related projects is the possibility to use USB/ I2S sound cards. The only sane option [1] to play audio/video files in XBMC is via the 'omxplayer' using the OpenMAX framework.

Hence, the feature request for an ALSA sink in the Broadcom OpenMAX IL implementation to overcome the limitation for USB sound cards in omxplayer/XBMC.

I am aware that this feature mi

[2013-07-26 13:38] #70 closed, assigned to nobody

[2013-07-31 08:28] Snoopy-HSS opened #72 "Raspivid leaks with option -ex night"
If i use "raspivid -t 0 -b 8000000 -ex night -o - | /opt/ffmpeg/bin/ffmpeg -i - -vcodec copy -an -f flv -metadata streamName=myStream tcp://0.0.0.0:6666" the framerate goes down to 4 fps and after some minutes the stream breaks down.

If i use "raspivid -t 0 -b 8000000 -o - | /opt/ffmpeg/bin/ffmpeg -i - -vcodec copy -an -f flv -metadata streamName=myStream tcp://0.0.0.0:6666" without -ex night eve

[2013-08-23 15:34] ktsaou opened #75 "raspistill: -tl corrupts the file given by -o"
Hi, I am trying to use raspistill -tl for taking snapshots once every half a second, which I then serve via a web server. The problem I have is that the images are corrupted. Raspistill just overwrites the file while the web server streams it.

If the filename given by -o does not exist or is a regular file, the right way to overwrite it is:
1. write to filename.tmp
2. unlink filename
3. link file

[2013-08-28 04:14] dmopalmer opened #76 "Manual exposure control for raspistill"
This is a request to make the exposure time (shutter speed) an exposed parameter in the API (or if it is already, to document how to use it.)

I would like to set the shutter speed for raspistill.  I want to do technical imaging where I can control what the camera does (and, secondarily, make it do it with as little lag as possible).

If I set --exposure=off then it always takes a 1/100 s image (a

[2013-08-30 15:29] alexamy1987 opened #78 "buffer handling PNG encoding is causing an error"
buffer handling PNG encoding is causing an error which produces a bright band at the top of the image.
EDIT: This occurs not only on green light as first expected.
![550nm](https://f.cloud.github.com/assets/5347707/1058566/f2f61530-118a-11e3-8b0b-97ecc480cb3b.png)

[2013-09-01 17:32] dmopalmer opened #79 "Build fails"
A fresh checkout of the current head, followed by a ./buildme in that directory fails to build.  (This is on the Raspberry pi, not cross-compiling)

Here is the first error, but if you do a make -k you can see that there are several more very similar link errors throughout the compilation

Is this just issue #2 ?  At one time I had native compilation working, but I have lost the magic incantations

[2013-09-02 17:08] dfrey opened #80 "Exposure settings ignored"
Hi,
the latest firmware appears to ignore all exposure settings. Even verylong yields the same results as auto.

[2013-09-08 07:20] ling-zz-on opened #83 "Raspistill options and EXIF data are inconsistent"
I'm testing a camera module on a Raspberry Pi Model A running with the latest available kernel
uname -a
Linux rpicam2 3.6.11+ #538 PREEMPT Fri Aug 30 20:42:08 BST 2013 armv6l GNU/Linux
vcgencmd version
Aug 30 2013 20:54:23
Copyright (c) 2012 Broadcom
version 634f1745cbadf6eb4d37135af471cbc7801eb60f (clean) (release)

I tested some of the raspistill options and found the following:
1) Option -mm me

[2013-09-10 07:07] gmkey opened #84 "raspistill run from cron gives mmal:: not found error"
Hi,

I'm running a timelapse setup on a pi. It's scheduled from cron every morning at 06:00.
Whenever it is started it freezes at the first image (which is in the storage location, but with a ~ after the JPG). Cron then mails me  the following error:

[code]

Here is my crontab entry (user Pi):
<code>\* 6  \* \* \* /opt/timelapse/timelapse.sh </code>

and here my script:

[code]

I've rigged my pi

[2013-09-11 05:07] #79 closed, assigned to nobody

[2013-09-11 10:22] #2 closed, assigned to nobody

[2013-09-16 05:29] dmopalmer opened #86 "ROI Cropped images are same size as original"
When the --roi option is used, the resulting pictures are of the correct region  of the full frame, however, they are zoomed to the full frame size of 2592x1944

This makes them blocky, uses up a lot more resources than it should.  If the ROI doesn't have the same fractional height and width (e.g. --roi 0.1,0.4,0.8,0.1) gives a distorted image as the result is stretched to the original aspect rati

[2013-09-23 12:09] #72 closed, assigned to JamesH65

[2013-09-23 21:02] geekinthesticks opened #88 "-ex verylong Causes Camera to Hang"
Specifying the -ex verylong option hangs the camera. The Pi needs a reboot to re-enable the camera.

[2013-09-25 10:50] #88 closed, assigned to nobody

[2013-09-26 15:24] #80 closed, assigned to JamesH65

[2013-09-26 15:26] #75 closed, assigned to nobody

[2013-09-26 15:28] #46 closed, assigned to nobody

[2013-10-03 16:01] DuncanRowland opened #94 "raspivid sketch not applied when saving"
raspivid -ifx sketch
works fine
raspivid -ifx sketch -o x
does not show the sketch filter as being applied.

[2013-10-03 17:10] vanfanel opened #95 "Setting dispmanx resource palette when using VC_IMAGE_8BPP pixel format"
Hi there,

I really need help with this.
I made a "hacky" but working dispmanx backend for libSDL 1.2.x (wich is available on my github, of course), but I recently discovered 8bpp games/apps wouldn't display correctly.
In particular, 8bpp games wich set custom palettes seem to show all kind of strange colors.

I use VC_IMAGE_8BPP as pixel format when I create a resource with vc_dispmanx_resource_c

[2013-10-04 16:17] #66 closed, assigned to JamesH65

[2013-10-04 16:18] #64 closed, assigned to JamesH65

[2013-10-04 16:21] #29 closed, assigned to JamesH65

[2013-10-07 10:25] #35 closed, assigned to JamesH65

[2013-10-09 10:23] JamesH65 opened #98 "RaspiCam - setting preview size affects preview origin"
Odd one - it appear when you set certain preview sizes, the origin of the preview window can move. This is unexpected - preview should scale up/down, but not move it's origin.

It may be down to trying to maintain aspect ratios.

[2013-10-13 16:23] AdrianA87 opened #100 "Raspivid - Add support to set H264 profile level"
Recently I saw that was added the ability to set the profile h264 and I think it would be great to set the level too.

UPDATE:

At least here "userland / interface / mmal / mmal_parameters_video.h" it seems that there are several levels to choose.

So I try to choose the level profile of the H264 by changing the file "userland / host_applications / linux / apps / raspicam / RaspiVid.c"

[code]

an

[2013-10-14 16:53] omundy opened #101 "Accessing raspistill or raspivid over SSH hangs and breaks connection"
Trying any variation of the following
raspistill -t 2000 -o image.jpg

...over SSH causes the shell to hang, eventually breaking connection. Camera works fine if you use a display/keyboard and run on command line on the Pi.

[2013-10-22 04:31] SnowLeopard71 opened #107 "raspivid -b (bandwidth) setting > 25000000 crashes camera requiring reboot"
Using any setting >25000000 causes the camera to crash and become unusable until reboot.   (With latest firmware that supports shutter speed.)
mmal: mmal_vc_port_enable: failed to enable port vc.ril.video_encode:in:0(OPQV): EINVAL
mmal: mmal_port_enable: failed to enable connected port (vc.ril.video_encode:in:0(OPQV))0x4e1380 (EINVAL)
mmal: mmal_connection_enable: output port couldn't be enabled
m

[2013-10-22 11:31] #100 closed, assigned to JamesH65

[2013-10-24 18:55] SnowLeopard71 opened #108 "raspicam framerates over 30"
The raspicam is capable of capturing framerates up to 320x240@120fps according to the OV5647 datasheet.
Please enable 960p45, 720p60, VGA@90fps (640x480), and QVGA@120fps (320x240).

[2013-10-29 18:41] #107 closed, assigned to JamesH65

[2013-11-02 12:55] AnykeyNL opened #114 "Possibility to trigger an external flash?"
Hi,
I really would like to have an option to trigger an external flash, especially now when I can control manual shutterspeed. I build a multi raspberry pi 3d scanner (www.pi3dscan.com), using 39 raspberries and cameras. It is working well, but really need more light to get even better results.

As I suck at C programming :-( I am looking for help. Can anyone help me add an option that a GPIO pin

[2013-11-09 18:54] brianolson opened #117 "raspistill hung in mmal_component_create"
$ /usr/bin/raspistill -o ~/cam.jpg -v

raspistill Camera App v1.2

Width 2592, Height 1944, quality 85, filename /home/pi/cam.jpg
Time delay 5000, Raw no
Thumbnail enabled Yes, width 64, height 48, quality 35
Link to latest frame enabled  no
Full resolution preview No

Preview Yes, Full screen Yes
Preview window 0,0,1024,768
Opacity 255
Sharpness 0, Contrast 0, Brightness 50
Saturation 0, ISO 400,

[2013-11-10 10:46] Philip-F opened #118 "-awb 'fixed option' is not really fixed, random color changes appear"
When using -awb with 'sun' or 'tungsten' the color of the image still shows random color changes, apparently caused by changes in the composition. This can be the amount of light and/or the dominant color(s) in the scene. Although the color seems more stable than when using 'auto' it still prevents accurate shot-to-shot consistency.

[2013-11-10 18:54] brianolson opened #119 "vcos log defaults to stdout"
https://github.com/raspberrypi/userland/blob/master/interface/vcos/pthreads/vcos_pthreads.c#L311

this makes it difficult to use this framework to write programs that send meaningful data to stdout. logging should be to stderr.

[2013-11-12 11:33] pycat opened #120 "Suspended RPI camera."
Hi everyone!

Sometimes it happens that the RPI camera is suspended despite the killed her raspistill process. The result is that I can't start a new raspistill process.

Example:
1.Start the process:
[code]
2.After a few hours, kill the raspistill process
[code]
#or
[code]

No process coming from raspistill when I check in ps -aux, but red-led on camera is still lit, and any new process doesn't w

[2013-11-13 09:16] #95 closed, assigned to nobody

[2013-12-11 12:56] li73772 opened #126 "raspivid stream to ffmpeg gives "Encoder did not nproduce proper pts, making some up""
I´m trying to stream audio + video from pi to external player. Using

raspivid -n -ih -pf high -w 720 -h 405 -fps 25 -vf -t 0 -b 1800000 -o - \
| LD_LIBRARY_PATH=/usr/local/lib /home/pi/git/ffmpeg/ffmpeg -y \
    -i - \
    -f alsa -ac 1 -i hw:1,0 \
    -vcodec copy -acodec libfaac \
    -map 0:0 -map 1:0 \
    -f segment \
    -segment_time 4.0 \
    -segment_format mpegts \
    -segment_list "/v

[2013-12-26 17:43] arcanon opened #131 "raspivid with width 640 and height 480 delivers too many frames at one point in time."
I see that my video stream stutters. I notice that this did not happen with raspivid version 1.2 (new versions at least around 1.3.3 show the issue).

Debugging the issue shows that all of a sudden (every 4secs or so) my decoder thinks there are all of a sudden 17 frames are available in 3ms or so, which cannot be.

In between the stutter, everything is fine. Running with 1920x1080, I don't have a

[2013-12-28 14:31] Pol-on opened #133 "Raspistill buffer flush with standard output"
When images are saved to file there is no problem but when the images are sent to standard output using "-o -" sometimes part of an image is missing. To reproduce this you can use
raspistill -w 640 -h 480 -n -t 0 -s -o - | less > test.jpg
In smaller images the problem is better visible because bigger part of the image is missing.
If the problem happens no more images can be save.
This is probably

[2013-12-31 16:52] #131 closed, assigned to JamesH65

[2014-01-02 13:49] #126 closed, assigned to JamesH65

[2014-01-03 15:53] #86 closed, assigned to JamesH65

[2014-01-03 15:55] #84 closed, assigned to nobody

[2014-01-03 15:56] #39 closed, assigned to JamesH65

[2014-01-03 15:57] #33 closed, assigned to JamesH65

[2014-01-14 23:19] ChiYuan opened #137 "RaspiVid.c "-sg -wr" functions not working anymore?"
I just compile the latest RaspiVid.c.  The circular buffer function seems working to me with the key press.  However the other arguments, "-sg -wr", it only first video segment is readable.  The others can't open.  Is it what it suppose to be?  Or is there new way to use those functions?

[2014-01-29 15:10] towolf opened #140 "Binary diagnostic EXIF tag does not change in timelapse mode"
I wanted to evaluate the new `--exposure night` preset changes and  noticed that the Broadcom MakerNote binary tag does not change in timelapse mode.

It includes the same data for all output JPGs

![image](https://f.cloud.github.com/assets/345210/2030476/4c16d22e-88f7-11e3-9df4-27b9b85b3204.png)

[2014-02-07 12:25] msperl opened #142 "raspistill -o filename produces segfault as soon as there is a % in the filename"
Hi!

```raspistill -o filename-%s.jpg```
triggers a segfault as long as the pattern is not a valid sprintf pattern with an integer argument.

I was actually trying to run a strftime format like "file-%Y%m%d-%H:%M:%S.jpg" as the filename when I found this.

Maybe you should implement some other replacement scheme, that does not "hickup" with a segfault or at least do some validity checks on the fil

[2014-02-09 19:51] vlachoudis opened #143 "raspistill appends garbage on the filename"
When running raspistill as user (not root) the filename has  garbage in the suffix

raspistill -o test.jpg

creates a file test.jpg????stoi
however when I run with sudo
sudo raspistill -o test.jpg
I get the correct filename without the wrong suffix

[2014-02-12 09:06] abhimanyuv1 opened #144 "mmal definition for enabling disabling SEI message in h264 encoder"
Hello, i wanted to enable SEI message in h264 header, i can see OMX parameter for the same but didnt find similar for mmal.

OMX_IndexParamBrcmVideoAVCSEIEnable
http://home.nouwen.name/RaspberryPi/documentation/ilcomponents/prop.html#OMX_IndexParamBrcmVideoAVCSEIEnable

Do we have any other way to do this?

Thanks

[2014-02-13 11:01] vlachoudis opened #145 "raspiyuv: feature request"
Is it possible to include the "-k" and "-s" option already existing in raspistill to raspiyuv.
Using raw data it improves greatly the performance of my program rather than compressing and decompressing a jpg image

[2014-02-14 07:59] vlachoudis opened #146 "raspistill timelapse: additional delay between frames 0.5s"
The timelapse feature in raspistill cannot work with settings below 500-600ms. It seems there is delay (some sort of re-initialization) between the frames

"Finished capture XX"
(about 500ms delay here)
"Starting capture XX"

resulting in many frames dropping.

For example the command
raspistill -v -tl 200 -o /run/shm/test%d.jpg -t 10000 -n -w320 -h240

with whatever setting on tl < 700ms it alway

[2014-02-14 12:28] #143 closed, assigned to nobody

[2014-02-25 03:31] chenyayun opened #147 "How to build the source code"
cross-tool compiler , could you tell me how to . I need your help!

[2014-02-26 16:43] #147 closed, assigned to nobody

[2014-03-06 03:14] waveform80 opened #150 "raspistill: png encoding hangs with firmware revision 648"
After upgrading firmware from revision 630 to revision 648 I've noticed that attempting to capture an image in PNG format with raspistill hangs (actually I first noticed the issue when running the test suite for my picamera library and assumed it was something I'd broken, but after failing to find anything relevant I tested the same functionality in raspistill and found it also hangs).

Specifical

[2014-03-09 17:35] rapitz opened #151 "Any solution to the full manual mode for RasberryPi camera ?"
I am a real starter on this, but I need that mode for photometry. So far it seems that is quite difficult. Is there any hope ?

[2014-03-14 17:40] #101 closed, assigned to JamesH65

[2014-03-18 13:50] jpjodoin opened #153 "Overexposure return black image"
Hi,
I have the same bug as ethanol100 on http://www.raspberrypi.org/phpBB3/viewtopic.php?p=429945

When I completly overexpose an image, it returns me a black image. It can easily be reproduced when I take an image with "raspistill -w 320 -h 240 -ss 1000000 -o x.jpg"  on a sunny day. This is a big issue for me because I use the avg color to guide a script in the search of optimal parameters (a cus

[2014-03-26 01:27] #140 closed, assigned to JamesH65

[2014-03-27 01:16] #108 closed, assigned to JamesH65

[2014-03-27 12:39] #51 closed, assigned to JamesH65

[2014-03-28 21:59] #150 closed, assigned to JamesH65

[2014-04-02 06:45] wbx-github opened #159 "assertion failure with XBMC Gotham beta3"
Hi,

on startup of XBMC gotham beta 3 I get following assertion:

[code]

I use following version of user land a8fbe2cd6a3d4455344295809f2e663373ad25cb from 25.03.2014.
The problem does not exist for Frodo builds.
Any help would be appreciated.

[2014-04-04 15:30] #159 closed, assigned to nobody

[2014-04-20 03:06] unphased opened #165 "programs don't work when building after installing Adafruit kernel (for 2.8" PiTFT screen)"
I'd like to get MMAL (and the programs built on it) working properly alongside the nice little 2.8" screen. So far it's proving slightly challenging.

[Here are the kernel packages](https://learn.adafruit.com/adafruit-pitft-28-inch-resistive-touchscreen-display-raspberry-pi/software-installation).

I am finding that `raspistill`, when compiled after installing the kernel, don't work.

[code]

You

[2014-04-22 11:53] #165 closed, assigned to nobody

[2014-05-05 16:58] waveform80 opened #167 "Setting opaque still port encoding breaks subsequent full-res YUV captures"
While debugging waveform80/picamera#73 I've run into some behaviour which I suspect may be a bug in the firmware (or at least in MMAL - my apologies if I've got the wrong subject here!).

Firstly a little bit of background: picamera's a bit of an all-rounder so on occasion it has a need to change the encoding of the camera's still port. For example, to capture JPEGs with full Exif meta-data, the p

[2014-05-08 12:34] peepo opened #169 "mmal: destroyed while port enabled"
how to prevent halt on:

mmal: mmal_port_pool_destroy: port 0x11945d0, pool 0x1196b60 destroyed while port enabled
another:
mmal: mmal_port_pool_destroy: port 0xb515d0, pool 0xb53b60 destroyed while port enabled

any ideas on what might cause?
ie raspivid -t 5000 runs fine immediately after.

can be reproduced runs for ~ 10-100s,
code is from userland/interface/mmal

would gdb help or what to do,

[2014-05-09 09:02] chewep opened #170 "raspiyuv: request for output Y values only."
Is it possible to output Y values only and discarding U and V values?

[2014-05-12 16:55] #169 closed, assigned to nobody

[2014-05-15 11:11] redhawkuk opened #173 "tvservice - composite video problems after mode switch"
If I run the following:
tvservice -o
tvservice -c "PAL 4:3"
the screen is blanked i.e. black with no flashing cursor, the same is true if I switch from PAL to NTSC and then back to PAL mode.
To fix this I've found that attempting to run startx via remote ssh and then cancelling with Ctrl + C resets the screen back to working order.
Running fbi or startx from local console would probably also work

[2014-05-17 07:20] aizvorski opened #174 "Regression: MMAL_BUFFER_HEADER_FLAG_FRAME_END not set"
At the end of frame, in encoder_buffer_callback(), buffer->flags used to have MMAL_BUFFER_HEADER_FLAG_FRAME_END bit set (which allows doing something at end of frame in a patched raspivid).

As of eccb81050afd177da1923404b366c6226f29bfe0, that is set as appropriate.
As of 677f3cc646c8847822998c6409a748c900897076, that is never set.

Does requesting inline motion vectors somehow break end of frame?

[2014-05-21 22:46] mirecta opened #175 "raspi camera long exposure"
Hi
night timelapse is not possible with 1s exposure time with iso 100.
i read that this is possible with hack of gpu firmware it is possible ?

thx

[2014-05-26 19:41] MiltoxBeyond opened #176 "buildme issues in raspberry pi"
When I tried to execute the script it fails.  I fixed the script with two small changes:

```Line 6:   /bin/bash -c "pushd build/raspberry/release"```

and

```Line 7: cmake -DCMAKE_BUILD_TYPE=Release .```

This was on a fairly fresh installation of Raspbian.

The error was at the start: pushd not found
and after fixing that: cmakelists.txt was not found in '/' which wasn't where the buildme scrip

[2014-06-02 01:29] waveform80 opened #177 "raspiyuv: failure with odd resolution and --rgb"
While running the picamera test suite under firmware versions 685 and 687 I encountered a lockup when attempting to perform RGB captures with a resolution of 100x100 (YUV works fine, as do most "normal" resolutions). I can reproduce the issue with `raspiyuv` (and I haven't altered anything significant with respect to unencoded captures in picamera) which leads me to suspect this might be a firmwar

[2014-06-02 09:11] ajlennon opened #178 "Build issue causing raspivid to fail (components not registered)"
libmmal_vc_client.so makes use of **attribute**(constructor) to ensure that supplier components (e.g. camera) are loaded when the static library is loaded.

raspivid, and possibly other applications, link against libmmal_vc_client.so, causing the ctor to execute, but there is no needed dependency.

Some build environments (e.g. Yocto/OpenEmbedded) pass the '--no-as-needed' linker flag which remove

[2014-06-07 11:32] zboobzor opened #180 "raspivid - allow setting --intra / -g to 0"
Current raspivid code doesn't allow a value of 0 with the --intra / -g option.
Could you please allow this as it has a special meaning : only send an I-frame on the first frame and never again.
This change has already been applied to the v4l2 driver here : https://github.com/raspberrypi/linux/pull/610

Thanks

[2014-06-09 11:48] #177 closed, assigned to nobody

[2014-07-19 11:40] #118 closed, assigned to JamesH65

[2014-07-22 14:13] rewolff opened #188 "Compile warnings need followup."
A few days ago I tried compiling this repository. Waiting for the compile to finish I was bored and investigated one of the warnings. That pointed at a line that was CLEARLY a bug....

An assignment `
    x = <someconstant>;`
was written as `
    x == <someconstant>;`

(So sorry I don't remember where exactly this was, but investigating more than ONE of the warnings needs to be done anyway...)

->

[2014-08-05 01:00] chinasaur opened #193 "GRAPHICS_RGBA32 is BGRA."
This seems to take its channels backwards from what it should.  I'm happy to fix, but afraid it will confuse existing callers.

[2014-08-14 17:24] #180 closed, assigned to nobody

[2014-08-22 11:50] mcerveny opened #197 "Missing vchi_exit()"
Hello.

I try to write correct shutdown code but vchi_exit() is missing (to shutdown after successful vchi_initialise() i suppose).
vchi_exit() is declared https://github.com/raspberrypi/userland/blob/next/interface/vchi/vchi.h#L169
but missing implementation in https://github.com/raspberrypi/userland/blob/next/interface/vchiq_arm/vchiq_lib.c#L1090 .
Probably few lines of code, empty function or d

[2014-09-05 12:16] ghost opened #198 "userland stop build at 47%"
Hi can you help me on this issue?

This is my cmake:

SET(CMAKE_SYSTEM_NAME Linux)
SET(CMAKE_C_COMPILER armv6-rpi-linux-gnueabi-gcc)
SET(CMAKE_CXX_COMPILER armv6-rpi-linux-gnueabi-gcc)
SET(CMAKE_ASM_COMPILER armv6-rpi-linux-gnueabi-as)
SET(CMAKE_SYSTEM_PROCESSOR arm)
add_definitions("-march=armv6")

While cross compiling userland with my arm- toolchain (gcc 4.9.x) ,
the build process  on my ubuntu

[2014-09-08 09:37] #198 closed, assigned to nobody

[2014-09-12 02:55] mthuurne opened #202 "Redefinition of timer_t breaks build with musl libc"
In interface/vcos/pthreads/vcos_platform.h there is this fragment:

[code]

This breaks compilation with musl libc, which does define timer_t but does not define __timer_t. It is also among the changes in #184.

I don't know which platform is missing the timer_t definition: those lines were already in the initial import, so the Git history doesn't help here. I think it would be better to check exp

[2014-09-12 16:37] #202 closed, assigned to nobody

[2014-09-17 09:35] ethanol100 opened #203 "Unable to build after last update to CMakeLists.txt"
./buildme returns:

[code]

When commenting out the following lines

[code]

the build fails at linking brcmjpeg_test (ld: cannot find -lvcsm) if crosscompiled or at linking  mmal_vc_diag (ld: cannot find -ldebug_sym) if compiled on Raspberry Pi.

[2014-09-17 12:12] #203 closed, assigned to nobody

[2014-09-20 19:31] mcerveny opened #205 "(deprecated) vc_tv_get_state() sometimes hangs"
Hello.

The deprecated function `vc_tv_get_state()` sometimes (1 from 10) hangs with error message on stdout `vchi_msg_dequeue -> -1(90)` and dmesg errors (see below) when there is some other activity (for example running hello_teapot.bin).

When the function `vc_tv_get_display_state()` is used it is better (it hangs randomly in  `vc_tv_get_display_state()` or  `vc_tv_hdmi_get_supported_modes()` o

[2014-09-26 17:03] malc0 opened #206 "RaspiVid: high bitrate with !high profile hangs"
For example, running "raspivid -v -pf main -b 21000000" hangs, and interrupting it leaves the camera component wedged (reboot required).  Similar behaviour using baseline profile.  Some trace output below.

Connecting camera stills port to encoder input port
mmal: mmal_connection_create: out 0x96af00, in 0x96fd90, flags 3, vc.ril.camera:out:1/vc.ril.video_encode:in:0
mmal: mmal_port_format_commit:

[2014-10-04 17:24] #205 closed, assigned to nobody

[2014-10-04 17:32] #197 closed, assigned to nobody

[2014-10-10 08:37] magomez opened #207 "Noise when using the stencil in OpenGL drawing"
hi!

I'm working with the RPi buildroot stored in https://github.com/Metrological/buildroot, doing some development using Qt5 and OpenGL. That buildroot config is currently using version a59842a068cbd19e262701f30014499e9070fbf6 of rpi-userland, despite I've been able to reproduce the issue in former versions.

The problem seems to be that using the stencil to draw paths in OpenGL is causing some n

[2014-11-04 18:21] andyg24 opened #208 "MJPEG encoding doesn't work"
MMAL appears to support MJPEG video encoding, but it doesn't work well in practice. Specifically, at resolutions above 640x480, something inside of MMAL locks up, requiring a reboot to restore camera functionality.

This may be related to issue #206.

The easiest way to reproduce the issue is to modify RaspiVid.c to use MJPEG encoding.

1) RaspiVid.c, line 1384, change

encoder_output->format->enc

[2014-11-18 17:55] andyg24 opened #209 "MJPEG bitrate and quality settings do not work"
MJPEG encoding bitrate and quality settings appear to be ignored by the Broadcom driver. Someone reported this a while ago here:

http://www.raspberrypi.org/forums/viewtopic.php?t=75325&p=539055

 This is not something that can be fixed in PiCamera, but perhaps it is worth updating documentation to state that the settings have no effect in the current firmware?

[2014-12-09 21:03] #208 closed, assigned to nobody

[2015-01-01 16:22] malc0 commented on #206
Seems to be fixed with updated firmware, thanks.

[2015-01-01 16:22] #206 closed

[2015-01-04 14:21] malc0 opened #210 "RaspiVid: motion vector synchronization is awry"
It seems the motion vectors always arrive a frame *late* relative to the video, which is odd considering they ought to be available before the fully encoded video frame is.

The below image shows the frames from a short recording made using raspivid -ss 5000 -fps 20 -t 700 -o moo.h264 -x moo.imv, while the bottom image shows plots of the corresponding SAD motion vector coefficients (files availabl

[2015-01-04 18:48] ghollingworth commented on #210
Must admit I'm not 100% sure why you are getting the results you have...  I did specifically push out a frame of 0 motion vectors for any I-Frames (i.e. Frame 1) but Frame 2 should give you the vector between frame 1 and frame 2

[2015-01-05 18:38] ericpulvino commented on #126
"no, you have to get the timestamps out of band from the driver and write them as PTS into a container.
Gstreamer will do that for you"

I'm trying to do something almost identical. With similar error messages. From what I gather the RAW h264 stream comes without time references but Gstreamer can make a container and apply the PTS info the stream.

Video Only Stream:
raspivid -h 972 -w 1296 -br 46

[2015-01-05 21:47] 6by9 commented on #210
MVs are after the encoded data as video_encode appears to have been set to enforce that ordering (output_type only gets set to EV_OUTPUT_SIDEINFO after the first non-header bytes packet). That's probably the behaviour needed for eede. It could be reversed as EEDE is not officially supported.

I think the example is a bad one. The pen coming into frame will NOT produce sensible motion vectors as th

[2015-01-06 15:09] malc0 commented on #210
Perhaps this is down to me misunderstanding how the sum of differences image is arrived at (I do accept that the displacement vectors will be nonsense), but surely the difference image between video frames 3 and 4 (no pen -> pen) should not be completely smooth, as in the contrast stretched plot of MV frame 4 below?

![mv4](https://cloud.githubusercontent.com/assets/7490588/5629764/dc46ec84-95ae-1

[2015-01-06 16:16] 6by9 commented on #210
@gsh Back to you as you may remember more of how the CME operates. Your code does all look sane on first glance - if I can then I'll try running it up with a debugger to see if there is something wrong in the sequencing.
Whether the results are exactly as desired here depends on how the CME is designed to operate. If it is trying to find the best match for encoding, then producing a near zero resu

[2015-01-06 17:00] ghollingworth commented on #210
Yes, the CME works by doing SADs (sum of absolute differences) at every position within its search area then it returns the lowest vector as long as the SAD is less than some threshold, otherwise it just returns zero (a zero vector encodes to a small bit stream so it's just trying to punish larger vectors)

So the difference between two images may be a full set of vectors of zeros because it could

[2015-01-06 17:11] malc0 commented on #210
Right, but clearly in the most recent image the blocks occupied by the pen (which is essentially NW to SE diagonal across the frame) do not have zero values, they have intensities very similar to their neighbours in non-pen areas, as if it were encoding the difference of two frames neither of which have the pen.

[2015-01-09 18:48] ethanol100 commented on #210
I want to confirm the issue. I have modified raspistill to use the still_port and could change the position of an object in one image.
![vel](https://cloud.githubusercontent.com/assets/5732665/5685059/0cd52f48-9837-11e4-8bc4-3747ae4b04b1.png)
Here after the 4th image the position was changed, but only in the 6th frame the data shows the corresponding motion. Only motion vector differnet from zero

[2015-01-09 21:36] 6by9 commented on #210
I've found something that looks a little fishy in the code and I think would cause 1 frame of latency. Email discussion is ongoing between Dom, Gordon, and myself as the solution isn't immediately obvious without crippling performance. I can't remember (may have never known) sufficient details of the H264 hardware block to say for certain how it is meant to work around this bit.

[2015-01-13 17:58] 6by9 commented on #210
@ethanol100: could you post your test app somewhere? I have a potential fix, but currently no easy way of testing.

[2015-01-13 19:48] ethanol100 commented on #210
I modified raspivid not raspistill...
https://github.com/ethanol100/userland/tree/stopMotion
The preview does not show the right image yet.
You can use "./raspivid --use-stills -t 0 -k -o still.h264 -v" then each time you press enter, a new frame is captured from the still port, I had to change the still port format encoding to MMAL_ENCODING_I420.

[2015-01-13 21:31] 6by9 commented on #210
Thank you. I'll try it out as soon as I get a chance (possibly tomorrow morning).

[2015-01-14 10:22] 6by9 commented on #210
Looks like we have a solution. The original code was reading the CME output memory without having waited for it to complete, hence got the results for the previous frame. The synchronisation required for H264 encode is done with a hardware interlock on the results.
I've punted a patch over to be sanity checked and released, and that will hopefully solve this issue.

Thanks again @ethanol100 for th

[2015-01-14 20:32] popcornmix commented on #210
Firmware has been updated. Please run rpi-update and test again.

[2015-01-14 21:54] ethanol100 commented on #210
This fixed the issue for me. Thanks for the quick fix and for the fast firmware update.

[2015-01-14 21:55] popcornmix commented on #210
@malc0 okay for you?

[2015-01-15 14:31] malc0 commented on #210
Yes, both of my tests pass well.  Thanks for taking the time to look in to (and fix) this.

[2015-01-15 14:31] #210 closed

[2015-01-15 17:14] popcornmix commented on #210
Thanks 6by9!

[2015-01-30 03:15] ad0nis opened #212 "Feature Request: Single Picture, No Timeout"
It appears to be impossible to get raspistill to take a single picture without a delay. One would think that setting a timeout of 0 and no preview, as in the following example would accomplish this:

$ raspistill -n -t 0 -o test.jpg -v

raspistill Camera App v1.3.8

Width 2592, Height 1944, quality 85, filename test.jpg
Time delay 0, Raw no
Thumbnail enabled Yes, width 64, height 48, quality 35
Li

[2015-01-30 08:42] JamesH65 commented on #212
On 30/01/15 03:15, ad0nis wrote:

It's not possible to take the picture instantly - the camera needs to
start up, start streaming, get its exposure right, stop streaming and go
in to stills mode, take the picture, go back to streaming, shut down.
That takes about 500ms. So try a shorter and shorter timeouts until the
picture fails to take (may be black if exposure incorrect).

[2015-01-30 15:16] 6by9 commented on #212
It would be possible to do this, but ONLY if the shutter speed and ISO are manually set on the command line. Otherwise (as James says) the AGC and AWB algorithms have no chance to converge on sensible values. If you are prepared to accept that then the issue can be investigated further, but otherwise the recommendation would be to allow at least 500ms.

(The AWB convergence can be circumvented by

[2015-01-31 20:00] ad0nis commented on #212
I am sorry if my initial use of the phrases 'directly after' and 'without a delay' threw the conversation off the point that I was really trying to get at. Could there just be a CLI option that does all the measurements and calculations that you're talking about, and then returns as quickly as possible, instead of having to wait 5 seconds? I am just talking about simplicity and usability. If I may

[2015-02-01 17:36] 6by9 commented on #212
Er, "-t 500 -st"?
-st as I mentioned means AWB calcs are done on the actual capture frame stats rather than based on preview. -t 500 gives AGC a chance to have adapted (it won't be perfect in that time, but pretty reasonable).

[2015-02-03 10:19] wbx-github commented on #56
Hi,

is there any progress made in publishing vcdbg?
I wanna use it on a uClibc based system.

best regards
 Waldemar

[2015-02-05 15:35] jusme101 opened #213 "Possible missing header in libraspberrypi-dev package?"
Building a custom mmal component based on passthrough.c from git://github.com/raspberrypi/userland.git needs mmal_events_private.h, which is not installed in /opt/vc/include/interface/mmal/core/ from the libraspberrypi-dev package, although it's #included from mmal_port_private.h, which is present.

By copying the file from a git clone all is well, but I'd like the code to be buildable just using

[2015-02-05 15:40] asb commented on #213
Thanks for the report. The libraspberrypi-dev package is built from the firmware repo, which doesn't contain this header file. Sounds like a bug for @popcornmix

[2015-02-05 16:52] popcornmix commented on #213
Yes, will add in next firmware update.

[2015-02-05 22:33] agherzan opened #214 "Broken support for RPI 2?"
For whatever reason I can't compile userland for rpi 2 (TUNE_FEATURES     = "arm armv7a vfp neon" TARGET_FPU = "vfp-neon"):
libvchostif.a: error adding symbols: Bad value

Is there a known broken support for RPI 2?

[2015-02-05 22:54] unphased commented on #214
TIL about RPi 2. Thanks, @agherzan and GitHub.

I have zero authority on this matter but i think that, considering the whole new hardware redesign, it's perhaps just a little ludicrous to expect this to just work out-of-box.

Hopefully it won't take too long though, since it's supposed to be fully compatible. Which is friggin' sweet, too.

[2015-02-05 22:58] agherzan commented on #214
The only change is the BCM soc. So it shouldn't be much more as they already have the binaries in the firmware AFAIK

[2015-02-06 01:46] popcornmix commented on #214
You are expected to build userland just how you always have.
Raspbian and the userland libs are designed to run on both pi1 and pi2 so build with pi1 compile flags.
If you want to build explicitly for pi2 (and break compatibility with pi1) you are free to do so, but it's not something directly supported by us.
Note userland is a fairly thin library for communicating with the gpu. I don't belive yo

[2015-02-06 14:31] jusme101 commented on #213
Many thanks!

[2015-02-06 15:09] ali1234 opened #216 "VC_IMAGE_1BPP needs a palette?"
I attempted to use 1BPP image format. What I found is that the image gets rendered as black and very dark blue instead of black and white like I would expect.

I also tried to set a palette on the image with vc_dispmanx_resource_set_palette as per #95 but this had no effect on the output.

[2015-02-06 16:04] agherzan commented on #214
Wait a sec. The soc was changed. You have to use different compiler flags and so on. I didn't change anything else than using the tool-chain and flags and so on for the cortexa9 architecture.

[2015-02-06 16:15] popcornmix commented on #214
You don't have to use different compiler flags. The armv7 is compatible with armv6 code. On Pi 2
[code]
Completed just fine. (You may need to apt-get install cmake)

[2015-02-06 16:20] agherzan commented on #214
Well I'm using yocto as I maintain the BSP layer for that BSP. And in the process of supporting RPI2 I updated the machine configuration which defines the armv7 CPU to take advantage of neon, VFP4 and so on. I understand and I know that I can run arm6 code on arm7 but this doesn't mean it is efficient.

[2015-02-06 16:38] pelwell commented on #214
If you are compiling userland with non-standard flags then I'm not surprised if it doesn't "just work". However, if you do get it working then feel free to submit a patch.

[2015-02-06 16:40] agherzan commented on #214
So let me understand. You know you have a more powerful engine under the hood and you just want to stick with this workaround? Just to make sure we are on the same page. And there is no plan of getting this right in the near future, right?

[2015-02-06 16:55] Ferroin commented on #214
On 2015-02-06 11:40, Andrei Gherzan wrote:

No, things are working right, they have explicitly said multiple times
that they don't intend to break compatibility with the original RPi.  If
you actually look at the code, you will see that it really is (almost)
all just minimalistic wrappers around hardware level commands, compiling
for armv7 isn't going to get you more than maybe a few nanoseconds i

[2015-02-06 17:18] agherzan commented on #214
I understand. And this is perfectly valid as long as we are talking only from the perspective of userland. But think of people who want to compile stuff with neon support for example. They will need to use a custom toolchain which won't be able to be used in compiling userland. The only option they have is to use the binaries in firmware. That's a very valid use-case which is broken right now.

[2015-02-06 18:11] pelwell commented on #214
Future plans are future plans. Right now, we won't be making any changes in that area.

[2015-02-06 18:13] agherzan commented on #214
Fair enough. Please don't close this issue.

[2015-02-06 18:18] popcornmix commented on #214
But I don't see what is broken.

Are you trying to build on pi or cross-compile?
The cross-compile toolchain supports -mcpu=cortex-a7 -mfpu=neon-vfpv4
https://github.com/raspberrypi/tools/tree/master/arm-bcm2708/gcc-linaro-arm-linux-gnueabihf-raspbian-x64

gcc-4.8 on Pi also supports those flags.
For default gcc (4.6) you need -march=armv7-a -mfpu=neon-vfpv4

See this thread: http://www.raspberryp

[2015-02-06 18:41] agherzan commented on #214
I'm using gcc 4.9.1 with the following CFLAGS:
export CC="arm-poky-linux-gnueabi-gcc  -march=armv7-a -mfloat-abi=softfp -mfpu=neon --sysroot=/tmp/sysroots/raspberrypi2"

[2015-02-06 19:28] JamesH65 commented on #214
I've been using the standard cross compiler (Linaro) with the extra flags stated above, for compiling x264 with cortex-a7/NEON support. I also use the same tool chain to build userland, with the standard build.

So the same toolchain works for both, just with different flags. And of course the binaries coexist fine.

[2015-02-06 19:33] agherzan commented on #214
That's interesting. So there must be an issue somewhere else... Let me come after a retest the compiler.

[2015-02-06 19:38] agherzan commented on #214
Question. What happens if I mix on RPI2 armv6 with armv7? Example library armv6 (gl stuff) and an app armv7.

[2015-02-06 19:47] JamesH65 commented on #214
Not sure, but I *think* that I was using a Armv6 build of avconv with a cortex-a7/NEON libx264 today, and that worked fine. I'm not sure though! I don't see why they wouldn't work - the calling convention is the same, just the instructions used in the library/app may differ.

[2015-02-06 19:53] agherzan commented on #214
I tried to compile the entire platform as cortex-a7/NEON and use the binaries for GL libraries. And for whatever reason omxplayer is not able to use th gl libraries:
/usr/bin/omxplayer.bin: error while loading shared libraries: /usr/lib/libWFC.so: internal error

And that confused me a little thinking that must be an incompatibility that I don't figure out. Anyway. I will close this for now and co

[2015-02-07 00:35] ali1234 opened #217 "dispmanx displays the wrong resource"
The following code creates two 8BPP palettised resources. It then attempts to display the first one, but instead the second one is displayed.

Commenting out the block of code which creates the second resource causes the first one to be displayed instead.

[code]

[2015-02-07 01:03] ali1234 commented on #217
Issue went away after a reboot. GPU must have been confused by something else.

[2015-02-07 01:03] #217 closed

[2015-02-07 02:28] ali1234 opened #218 "dispmanx vsync callback is called 4 times per frame"
The following example runs for 1 second and measures the time between calls to the vsync callback in microseconds. With PAL composite out, the time between each call should be 20000 microseconds if the vsync happens per field.

The callback fires correctly about 20 times, then it starts firing 4 times per field. Same happens when using HDMI output.

Test code:

[code]

Output:

[code]

[2015-02-07 02:49] AndrewFromMelbourne commented on #218
Hi I think this should be reported in the firmware repository (https://github.com/raspberrypi/firmware/issues) rather than userland. Having said that I can see a similar issue. I wrote the following when the vsync_callback was first added.

[code]
When run, it would reliably print out fps=50.0 (pal composite display). When I relinked it today (after rebuilding)

[code]

[2015-02-07 03:37] AndrewFromMelbourne commented on #218
Actually, after a firmware update and a reboot, it went back to working as I expected
[code]
I do wonder about your code. The printf in the callback may cause some problems.

[2015-02-07 03:40] cleverca22 commented on #218
i had done similar code using GPIO

https://www.dropbox.com/s/d4na2naqjlidrzm/20150206_184717.jpg?dl=0

top trace is the gpio pin, showing several callbacks per frame, bottom is the raw composite video, v-sync is over the E in peakdet

[2015-02-08 00:01] agherzan commented on #214
Ok. So I managed to point the issue and find a workaround in my current environment. The complete log is:

---
libvchostif.a(vc_vchi_gencmd.c.o): relocation R_ARM_MOVW_ABS_NC against `a local symbol' can not be used when making a shared object; recompile with -fPIC
libvchostif.a: error adding symbols: Bad value
---

Checking the compile flags I see that most of the objects are compiled with fPIC w

[2015-02-08 00:30] agherzan commented on #214
Shouldn't "add_library(vchostif" be SHARED?

[2015-02-08 01:02] ali1234 commented on #218
After firmware update it works for me too.

I'm now on:
'''
Jan 30 2015 18:25:11
Copyright (c) 2012 Broadcom
version d6e004c61a7a749897c482c860d0b2c28196437e (clean) (release)
'''

[2015-02-08 01:30] cleverca22 commented on #218
same here, jan 20th was broken, feb 7th works

[2015-02-08 01:42] cleverca22 commented on #218
yeah, i see the problem now
[code]
if you forget to turn the vsync off with this (or the app crashes), you get an extra callback next time you run the app

so the 1st time you run it, 1 call per field
the 2nd time you run it, 2 calls per field, and so on

this explains why it always vanished after a reboot

i have a feeling that 2 apps using v-sync at once will likely also cause the issue, and tha

[2015-02-08 01:52] ali1234 commented on #218
And if you run two programs at the same time that listen for vsync, the first one gets no callbacks and the second one gets two. (Most likely it's just random/race condition which app gets the event.)

[2015-02-08 02:37] ali1234 commented on #218
Also as soon as any app calls

[code]

ALL callbacks stop firing in all apps.

[2015-02-08 15:32] popcornmix commented on #214
Can you explain exactly what you changed?
Did you edit makefiles/cmake/toolchains/arm-linux-gnueabihf.cmake (or make a copy of it)?
What if the contents of your .cmake file?

[2015-02-08 15:45] agherzan commented on #214
Below is the entire cmake file generated by the buildsystem (I think I mentioned above that I'm using this in yocto buildsystem):

[code]

[2015-02-11 15:44] popcornmix commented on #214
It seems to be an issue that shared libraries are implicitly built with -fPIC and static libraries without.
For some reason an armv6 build is happy mixing the two, but an armv7 build complains.

While in theory we could build all libs as shared, that does have repercussions (applications like xbmc that ship with some libraries from /opt/vc/lib will now need to include the extra shared libs, like v

[2015-02-12 18:10] popcornmix commented on #218
Please run rpi-update and test.

[2015-02-12 19:37] ali1234 commented on #218
Feb 12 2015 17:27:39
Copyright (c) 2012 Broadcom
version 571f5d2143489e4300d7e2ed5b1a73f33f3b13e5 (clean) (release)

Identical behaviour.

On 12 February 2015 at 18:10, popcornmix <notifications@github.com> wrote:

--
Alistair Buxton
a.j.buxton@gmail.com

[2015-02-12 19:40] ali1234 commented on #218
Actually the vsync is cleaned up on exit automatically now, but if two apps register a callback, one of them still gets two events, and clearing the callback still clears it for all apps.

[2015-02-13 12:41] popcornmix commented on #214
userland updated with proposed patch: https://github.com/raspberrypi/userland/commit/c5341f09dc686c17966369485f7dd27f58dc081c
@agherzan okay with you?

[2015-02-13 12:43] agherzan commented on #214
Brilliant. Thanks @popcornmix .

[2015-02-13 12:43] #214 closed

[2015-02-16 14:55] rcombs opened #220 "vcos_timer_delete and other functions incorrectly declared inline"
This produces giant piles of compiler warnings:
[code]

[2015-02-16 14:59] popcornmix commented on #220
Are you building on Pi or cross compiling?
Debug or release build?

[2015-02-16 15:03] rcombs commented on #220
Building on the Pi; debug build. The relevant functions are defined in here:
https://github.com/raspberrypi/userland/blob/4333d6d023a1f0dcc763d0706a1fe6523f9b6005/interface/vcos/pthreads/vcos_pthreads.c#L874
but declared as inline in here:
https://github.com/raspberrypi/userland/blob/4062ce5b2492b4eae4bb9816a7a43c00f7a216de/interface/vcos/vcos_timer.h#L112

[2015-02-16 15:08] rcombs opened #221 "Redundant redefinition warnings in vcos_blockpool"
[code]

I believe the solution should be as simple as adding an `#include "interface/vcos/vcos_blockpool.h"` at https://github.com/raspberrypi/userland/blob/4062ce5b2492b4eae4bb9816a7a43c00f7a216de/interface/vcos/generic/vcos_generic_blockpool.h#L46 to make sure the declarations are parsed before the implementations.

[2015-02-24 03:24] lurch commented on #56
Just going through some old bugs, and I see that the sources for mmal_vc_diag and libdebug_sym mentioned by @timgover above *are* now in the [userland repo](https://github.com/raspberrypi/userland/commit/30cefd5b8925d6d4a1fb922cd1f0abc85731d7ab). Which just leaves the original `edidparser` and `vcdbg` as the non-source binaries.

@wbx-github perhaps you could use http://unix.stackexchange.com/ques

[2015-03-02 21:20] eliotn opened #224 "Small typo in RaspiTexUtil.c"
in raspitexutil_gl_term(RASPITEX_STATE *raspitex_state):

   glDeleteTextures(1, &raspitex_state->v_texture);
   eglDestroyImageKHR(raspitex_state->display, raspitex_state->v_egl_image);
   raspitex_state->u_egl_image = EGL_NO_IMAGE_KHR;

In the third line u_egl_image was probably intended to be v_egl_image, otherwise its a no-op operation as raspitex_state->u_egl_image was set 4 lines up.

[2015-03-03 12:22] popcornmix commented on #224
Thanks. You are correct.
The typo is harmless in this case, but no typo is better.
I've fixed it in our internal tree - will appear in next update.

[2015-03-07 22:49] popcornmix commented on #218
Latest rpi-firmware code has an update to fix an issue with mulitple apps registering vsync callbacks. Can you test?

[2015-03-08 03:05] ali1234 commented on #218
Looks like it is fixed. Multiple programs can now vsync, and don't steal messages from each other. Forgetting to unregister the callback at exit also doesn't seem to cause any problems.

[2015-03-08 11:37] popcornmix commented on #218
Okay to close?

[2015-03-08 13:43] #218 closed

[2015-03-08 21:55] jvcleave commented on #213
Any chance of getting this in a gist?

[2015-03-08 22:03] popcornmix commented on #213
This was added a month ago:
https://github.com/raspberrypi/firmware/blob/master/opt/vc/include/interface/mmal/core/mmal_events_private.h
https://github.com/Hexxeh/rpi-firmware/blob/master/vc/sdk/opt/vc/include/interface/mmal/core/mmal_events_private.h

[2015-03-08 22:03] #213 closed

[2015-03-08 22:05] popcornmix commented on #224
Fixed here: https://github.com/raspberrypi/userland/commit/041604e47e73fb2a9a487ce6f446e9b2d2042546

[2015-03-08 22:05] #224 closed

[2015-03-13 22:42] maxogden opened #227 "vp8 encoding for raspivid (for webm, html5 video streaming support)"
I think it would really useful to have VP8 encoding support in `raspivid`. I am not very good at C/C++ but I looked into MMAL and it seems to support VP8.

The benefit of support VP8 (rather than H264) is that you can stream video directly from raspivid into a web browser `<video>` tag with webm, whereas mp4 can't stream.

I would normally just transcode the H264 into VP8, but I can only get 2-3 F

[2015-03-14 11:50] popcornmix commented on #227
There is no hardware support for VP8, and no software VP8 encoder, so this is not going to happen.

[2015-03-14 11:50] #227 closed

[2015-03-16 14:56] wm4 opened #228 "Potential thread safety issues with MMAL"
I believe I found an issue in mmal_queue. Here's its implementation:

[code]

What happens if 2 threads calls `mmal_queue_wait()` at about the same time? Thread 1 could be preempted right after calling `vcos_semaphore_post()`, during which thread 2 successfully runs the same code and dequeues a buffer. Now assume the queue size was 1, and thread 2 just reduced it to 0. Thread 1 already verified th

[2015-03-16 14:59] popcornmix commented on #228
ping @6by9

[2015-03-16 15:50] 6by9 commented on #228
I can't think of a sane MMAL use case where you want two threads waiting to receive a buffer from the same queue.
Completions aren't available on the GPU, and this code is built on both ARM and GPU sides. Looping until not-NULL would be a solution as you say.

I'd need to have a think on mmal_buffer_header_release, but I think you may be correct.
The reason for the refcounting is that it was nomin

[2015-03-16 16:02] wm4 commented on #228
It should be documented as unsafe, then.

No, I haven't found this yet. Is there a way to do this without rebuilding firmware? (It looks like it's impossible, unless the mmal shared lib happens to export mmal_log_category.)

[2015-03-16 16:06] wm4 commented on #228
Oh, I'm blind... it does.

[2015-03-16 16:21] pelwell commented on #228
There is an easier way - setting the VC_LOGLEVEL environment variable to "mmal:trace" should do the trick.

[In the general case it takes a comma separated list of "name:level" pairs.

[2015-03-16 16:42] 6by9 commented on #228
Ah, magic even I didn't know of. Thanks Phil.

[2015-03-18 15:34] vanfanel opened #229 "Simple function to wait for vsync without submitting an update"
Hi,

I have been looking in the VideoCore includes but could not find a function that does simply this: block until next vsync arrives. Very easy to implement, and would only need a display handle (DISPMANX_DISPLAY_HANDLE_T) as parameter. Something as simple as this:

vc_dispmanx_wait_vsync(DISPMANX_DISPLAY_HANDLE_T display);

Until now, I've been using the old fbdev interface and corresponding WA

[2015-03-18 16:33] popcornmix commented on #229
You can already register for a callback every vsync with vc_dispmanx_vsync_callback. See:
https://github.com/popcornmix/xbmc/commit/f53bf236b8892baf25b3879256037b6070025fb9

[2015-03-18 21:04] wm4 opened #230 "Decoding in lockstep with MMAL"
I want to add a MMAL decoder wrapper to FFmpeg. FFmpeg's API requires that  output frame for each input packet is produced. The API user must pass a packet containing exactly one video frame to the decode function, and gets back a decoded frame. To support b-frames and multithreaded decoding, there can be a delay with which decoded frames are returned: the first N decode calls will not return deco

[2015-03-19 11:19] 6by9 commented on #230
Ping @deborah-c for confirmation on what I'm about to say.

Firstly, how are you handling header bytes? Those typically get sent as flagged buffers but will produce no output. Does N always have to be 1 to cope with that, or do you get given the header bytes via some other route? What about dynamic resolution changes which require a new set of header bytes?

Secondly it's going to depend on the st

[2015-03-19 12:28] wm4 commented on #230
With the FFmpeg API, you first have to send some input packets before you get the first frame. The number of packets is N. It's fully up to the decoder what the value of N is. Usually it's the number of frames that must be buffered due to b-frame reordering, plus an additional delay to make multithreaded decoding work. The upper bound on N in the h264 case is probably ``16 + number_of_threads``.

[2015-03-19 12:36] wm4 opened #231 "MMAL decoder doesn't error on unsupported h264 profiles"
Feeding a h264 Hi10P file to MMAL "works", but returns incorrect results. Most likely it just doesn't support this profile.

Why does MMAL not raise any kind of error when this profile is encountered? Is there a way to ask the decoder which profiles are supported? I found ``MMAL_VIDEO_PROFILE_T``, but I have no idea what to do with it.

[2015-03-19 12:53] popcornmix commented on #231
Hi10P is not supported. The basic rule is we support BluRay specs, and nothing higher.

It's debatable whether refusing to play these streams, or doing a "best effort" decode is more useful to the user. In general with Hi10P most macroblocks don't actually utilise the 10-bit encoding, so we can decode much of the file just fine. E.g.
https://www.youtube.com/watch?v=sNpn54GXm8o
https://www.youtube.

[2015-03-19 13:13] JamesH65 commented on #230
Can you use the buffer calbacks on input and output ports to count and
record what is going on? The flags returned with each buffer indicate
whether the buffer is at the end of the frame etc.

On 19 March 2015 at 12:28, V. Lang <notifications@github.com> wrote:

[2015-03-19 13:37] wm4 commented on #231
Well yes, but at least the API user should be able to make an informed decision about it. Sure, the set of supported profiles could be hardcoded, but that's not really ideal either.

[2015-03-19 13:41] wm4 commented on #230
This is not enough. I can only detect a deadlock this way when it's too late.

To reiterate the problem again: when I push input frames to the decoder, I don't know when I can stop and wait for output frames. I could do it until an output frame happens to arrive - but this happens at an essentially random print in time because of the asynchronicity. This on the other hand can lead to too much buff

[2015-03-19 13:52] JamesH65 commented on #230
Why can't you just keep pushing until a frame is returned? And how do you
know you are pushing an entire frame in? Is the H264 stream already parsed
to that extent?

On 19 March 2015 at 13:41, V. Lang <notifications@github.com> wrote:

[2015-03-19 13:56] JamesH65 commented on #231
There is a MMAL function to return all the formats supported - use
 MMAL_PARAMETER_VIDEO_PROFILE_T  in a mmal_port_parameter_get() call.
Doxygen comments in code explain how.

On 19 March 2015 at 13:37, V. Lang <notifications@github.com> wrote:

[2015-03-19 14:04] wm4 commented on #230
Because then I run into the deadlock: the decoder will consume buffers from the output pool until it's exhausted. Then it will stop accepting new input. The input pool will exhaust too. Why can't I just use the output buffers? Because I can return only 1 output buffer per 1 input packet. The problem is made worse by the fact that 1 input packet may require multiple mmal input buffers (because they

[2015-03-19 14:15] wm4 commented on #231
Thanks, I completely missed it. It was even under the MMAL_VIDEO_PROFILE_T enum.

[2015-03-19 14:15] #231 closed

[2015-03-19 14:41] 6by9 commented on #230
MMAL buffers aren't fixed size. You can alter the buffer_size parameter in the port format up until the point where you enable the port. Just because (for example) https://github.com/raspberrypi/userland/blob/master/host_applications/linux/apps/raspicam/RaspiVid.c#L1486 takes buffer_size_recommended (defaults to 64kB IIRC for encoded video), there's nothing stopping you making it 512kB or more to

[2015-03-19 14:45] wm4 commented on #230
Sure, but during decoding they are essentially fixed. I don't think I can just set a buffer to the whole FFmpeg packet; I have to slice it up and feed it to the decoder incrementally.

However, I could just use a FFmpeg buffer pool instead of MMAL's API to allocate buffers. Then I could just allocate more buffer headers on the fly if needed. This is probably the most elegant way to solve this.

[2015-03-19 14:46] wm4 commented on #230
Oh, allow me to ask another question, probably slightly offtopic: does a MMAL_ENCODING_OPAQUE buffer stay valid even after the decoder component has been destroyed?

[2015-03-19 15:11] 6by9 commented on #230
You can allocate the port format buffer_size to any size above buffer_size_min, copy your data in to the start of the buffer, and then set the ```length``` field in the ```MMAL_BUFFER_HEADER_T``` correctly to describe the amount of data you copied in. You already said that FFMPEG gave you the correctly demuxed data packets.
I'd also recommend you set the buffer flags to include ```MMAL_BUFFER_HEAD

[2015-03-19 15:18] wm4 commented on #230
Yeah, but you don't know the upper bound of the packet. I suppose it's not valid to set buffer_size to SIZE_MAX? (I wouldn't actually allocate the buffer, but make it point to the FFmpeg buffer allocation.)

Thanks for the hint. I will try it.

Does image pool here refer to the MMAL_POOL_T (which I probably won't use in favor of a FFmpeg pool), or something hidden allocated in MMAL or on videocore

[2015-03-19 16:40] 6by9 commented on #230
Using FFMpeg's buffer allocation? So how are you passing that data via MMAL? You've got to have a set of MMAL_BUFFER_HEADER_Ts which will then also reference some GPU allocated memory. If you're not  using a MMAL_POOL_T, then you're going to have to post your code somewhere as it sounds like you're doing something outside the normal use.
Upper bound of the packet: you have to go for a worst case,

[2015-03-19 17:01] wm4 commented on #230
I mean I will be using some FFmpeg data structures to manage the MMAL_BUFFER_HEADER_Ts, instead of a MMAL_POOL_T. This would give me more flexibility. For example, I want references to decoded images to be valid even if the decoder is destroyed. This is transparent with FFmpeg's refcounted buffers, and destroying the FFmpeg pool will only delete unused buffers.

But the upper bound can't be known

[2015-03-19 22:19] wm4 commented on #230
I realized that I can't allocate single MMAL_BUFFER_HEADER_Ts (only pools of it) using the API, so I abandoned this idea. Instead I'm keeping an extra list of "unconsumed" input buffers, and I'm refcounting the pool as a whole.

In case someone wants to take a look, here's my ffmpeg patch: https://github.com/FFmpeg/FFmpeg/compare/master...wm4:rpi (it got rather wild, although some of it is unneede

[2015-03-20 09:57] 6by9 commented on #230
You could allocate MMAL_BUFFER_HEADER_Ts, but calls such as mmal_buffer_header_release will object as they rely on the buffer being allocated from a pool. MMAL_POOL_Ts are the intended mechanism for handling buffers.

I've had a quick look at your code. It looks like you're doing a few sneaky tricks (which I think I did in the past too!) but haven't seen anything particularly hideous other than no

[2015-03-20 11:09] wm4 commented on #230
Thanks for having a look, I really appreciate it.

This is what I've tried first, but I couldn't get it to work. Raspivid seems to include code for this, though. But not using the decoder component apparently. Well, the device is probably too weak for this anyway.

Right, I can do that. But since the packet size is essentially unbounded, and it can't be extended on the fly, I'll keep the splitting

[2015-03-20 14:01] 6by9 commented on #230
Your project, do what you like.

flush is a non-blocking request to return all buffers as soon as possible.

port_disable will block until the callback has been made for all buffers.

All the source for the MMAL core framework is in https://github.com/raspberrypi/userland/blob/master/interface/mmal/core and likewise for the ARM side of the VCHIQ comms (../vc/mmal_vc_api.c)

https://github.com/rasp

[2015-03-20 16:54] wm4 commented on #230
I know, but port_flush is still documented as being asynchronous. I assume this asynchronous flush behavior is not even user-visible, then. I removed my own code for waiting for the buffers, and could simpliy it a lot.

The MMAL source is unfortunately not that useful, because all the interesting parts are on the videocore and closed source.

I pushed my updated code. It's much cleaner and simpler

[2015-03-20 16:54] #230 closed

[2015-03-21 11:12] vanfanel commented on #229
Oh, true!
Closing this, popcornmix. Thanks a lot, as always :+1:

[2015-03-21 11:12] #229 closed

[2015-03-22 19:49] waveform80 opened #232 "Excessive MMAL renderers cause display output to fail"
A user of the picamera library reported an odd symptom when using a set of rather large image overlays: his display went completely black. When reproducing the issue I discovered that using up too much memory with MMAL renderers (which picamera uses to implement overlays) causes the display to attempt to switch to some sort of invalid mode (my HDMIPi monitor goes red and reports "out of range").

[2015-03-23 12:11] popcornmix commented on #232
That is expected behaviour. By default we composite all the dispmanx layers "on the fly". This means there is a real time constraint where for each horizontal line of HDMI output, we need to fetch all the source layers, resize/convert/blend and output the final pixels.

If you just keep adding layers, you hit the point where this breaks down.
Overclocking (expecially core_freq and sdram_freq) will

[2015-03-23 12:31] waveform80 commented on #232
Interesting - thanks for the info. I'll add the dispmanx_offline info to the docs for picamera 1.10. Out of curiosity, is there a formula for calculating when one is about to exceed the time constraint? I'm mostly wondering if there's any way I could get picamera to throw an exception rather than disable the user's monitor?

[2015-03-23 12:36] popcornmix commented on #232
There is no certain way of predicting this beforehand. The busyness of axi bus and sdram will contribute to the failure.
It may be possible to poll (e.g. from a vcgencmd) if a display underrun has occurred.

[2015-03-23 12:38] waveform80 commented on #232
Okay, no prob - I figured it would either be impossible or in the "very difficult" category, otherwise it would've already been implemented. I'll add some warnings to the overlay docs regarding the behaviour. Thanks!

[2015-03-23 12:38] #232 closed

[2015-03-25 22:28] wm4 opened #235 "Strange things happening on MMAL decoder format changes"
I tried implementing mid-stream format changes with the MMAL API. Since the documentation is scarce, I worked with the following assumption of how it should work: when receiving the new output format, I disable the output port, set the new format, commit it, allocate a new output pool, enable the port again, and done. The old output pool is deallocated while the output port is disabled (or a bit l

[2015-03-26 20:16] wm4 commented on #235
I made some progress. My changes added some other bug, which I had to fix first. Now I have working format changes, except for one incredibly weird issue with the MMAL API.

MMAL seems to return weird buffers on the output port right after format change. These buffers have the ``length`` field set to 0. How many of them are returned until normal buffers are returned seems to depend on the timing (

[2015-03-26 20:23] wm4 commented on #235
PS: that MMAL_BUFFER_HEADER_T.priv is not set happens only when 1 buffer without data is returned from the output port. Only in cases in which priv is set there can be multiple buffers. I guess the latter case is normal, and this process merely returns the unused output buffers which were queued before the format change, and which now have the wrong size.

So the question is really why the API som

[2015-03-26 21:15] wm4 commented on #235
Actually, I think I've found it. I didn't clear ``queue_decoded_frames`` on format change, so depending on the timing I was feeding already free'd buffers to the decoder. My other assumptions were apparently correct; I only had to drain the queue of decoded frame after disabling the output port.

(The MMAL API would actually be relatively nice, if not for this insane manual buffer/pool management.

[2015-03-26 21:15] #235 closed

[2015-03-27 01:08] lurch opened #236 "Remove RaspiCamDocs.odt ?"
Now that all the [documentation](http://www.raspberrypi.org/documentation/) is hosted in it's own [repo](https://github.com/raspberrypi/documentation/), `host_applications/linux/apps/raspicam/RaspiCamDocs.odt` in this userland repo is becoming more and more out of date, which is especially evident when you compare the histories of [raspberrypi/documentation/raspbian/applications/camera.md](https:/

[2015-03-27 09:14] JamesH65 commented on #236
Agreed. Now we have the decent repo based docs the ODT is no longer
necessary. I think your recommendation to change the text to point to the
online docs is the best option.

On 27 March 2015 at 01:08, Andrew Scheller <notifications@github.com> wrote:

[2015-03-28 20:44] 6by9 commented on #235
If you think MMAL is bad, you should try OpenMAX IL!
MMAL was written to remove some of the insanity.

[2015-03-28 20:54] wm4 commented on #235
No doubt - I was glad to find there's a simpler API on rpi!

MMAL could for example be improved by taking away pool management from the user.

[2015-03-29 20:36] XECDesign commented on #236
+1

[2015-03-29 20:42] popcornmix commented on #236
A PR would be good.

[2015-04-17 20:13] #176 closed

[2015-04-20 17:10] thaytan opened #238 "mmal_port_parameter_get()/set() not idempotent for IntraRefresh."
Hi,

I was investigating https://github.com/thaytan/gst-rpicamsrc/issues/22 in gst-rpicamsrc (which is Raspivid turned into a GStreamer source element), in which using intra-refresh modes was causing an error.

Eventually, I figured out that mmal_port_parameter_set() with the MMAL_PARAMETER_VIDEO_INTRA_REFRESH_T causes problems, even though the struct is intialised with mmal_port_parameter_get() a

[2015-04-21 14:48] popcornmix commented on #238
Okay, the real issue is that reading that parameter is not supported and so should return an error. RaspiVid doesn't check for an error.

I've added some untested code that hopefully supports reading the intra refresh parameter. Can you test it: https://dl.dropboxusercontent.com/u/3669512/temp/firmware_intra.zip

[2015-04-22 04:40] thaytan commented on #238
That firmware still rejects the mmal_port_parameter_get() for me:

0:00:02.620901194  3808  0x132eac0 ERROR              rpicamsrc RaspiCapture.c:1458:create_encoder_component: mmal_port_parameter_get() failed for MMAL_PARAMETER_VIDEO_INTRA_REFRESH
0:00:02.622496272  3808  0x132eac0 ERROR              rpicamsrc RaspiCamControl.c:767:mmal_status_to_int: Argument is invalid

RPi1, in case it matters

[2015-04-22 12:51] popcornmix commented on #238
Okay, I've tested now. Please try: https://dl.dropboxusercontent.com/u/3669512/temp/firmware_intra.zip

[2015-04-22 14:38] thaytan commented on #238
Seems to work - the _get() call succeeds, and the various param setting vars get zeroed out.

[2015-04-22 14:46] popcornmix commented on #238
Okay will be in next firmware update.

[2015-04-22 14:59] thaytan commented on #238
Pull request that'll make raspivid warn and zero out the params, in case people happen to run newer userland against older firmware.

[2015-04-23 14:18] #238 closed

[2015-05-03 22:49] asavah commented on #220
This gets even worse with gcc 5.1.0 (cross, crosstool-ng based,  Release build)

In file included from ~/src/vc4/build/inc/interface/vcos/vcos.h:127:0,
                 from ~/src/vc4/interface/vcos/pthreads/vcos_pthreads.c:29:
~/src/vc4/build/inc/interface/vcos/vcos_thread.h:269:6: error: inline function ‘vcos_thread_resume’ declared but never defined [-Werror]
 void vcos_thread_resume(VCOS_THREA

[2015-05-13 00:47] ivannaz commented on #151
I think I still have an issue regarding full manual exposure.

I can't keep "analog gain" and "digital gain" frozen at some specific - or minimum - values.

While I can specify exposure time and ISO, the camera still sets its analog and digital gain by itself. And it is bad at it! When the center and most of the area is dark, and only a corner have light, the analog and digital gains increase to t

[2015-05-13 08:47] ethanol100 commented on #151
Try adding -ev -24 to your command. This will try to reduce the gains to a minimum and should give you analog gain 256/256, digital gain 256/256.

Getting the raw sensor data will not be of much help for you. The analog gain is applied to the sensor and will change the raw bayer data too. There is the new possibility to get the raw bayer data, but it is fixed to a single value of shutter speed see

[2015-05-13 13:31] ivannaz commented on #151
Thank you! It is a shame I have not tried the ev settings before - perhaps because I did not, and still does not, understand exactly what this -24 means, and why -25 is not so good. I glanced at the sources, but it seems that is setting is dealt only in gpu arena.

Now gains are, if not fixed, at least less variable, and corner saturation is less frequent.

 raspistill -t 0 -set --shutter 100 -awb

[2015-05-13 20:34] 6by9 commented on #151
EV is in 1/6ths of a stop, so -24 is -4 stops. If shutter speed hadn't been fixed, then it would also try adjusting that.
It can also be set as a MMAL_RATIONAL_T to explicitly set the number of stops in the range -4 to +4 (although the exposure mode will clip the max gain combination and shutter speed), but it is still in 1/6ths under the bonnet, so don't expect finer grained control.
ISO setting

[2015-05-15 13:23] ivannaz commented on #151
I hope the -ev -24 would be enough, and further measures unnecessary. Thank you.

I removed the default lens and installed an M12. Noticed something odd: While expecting an featureless and smooth image of a clean, uniformly lit paper sheet, the image shows all four corners brighter than the center image level. As if the sensor - or the GPU - were doing some sort of vignetting compensation of the o

[2015-05-15 18:43] JamesH65 commented on #151
Yes, the GPU has a lens shading correction table tuned to the original lens. Using raw will indeed bypass this - the data in raw is direct from the sensor, so the only setting of relevance will be the analog gain.

[2015-05-15 19:27] spikedrba commented on #151
is there any solution/recommendation (other than using raw), to compensate/remove the shading correction if one uses a different lens?

[2015-05-15 20:21] JamesH65 commented on #151
No, afraid not. Best bet is to write your own lens shading code that compensates. Take the picture of the flat field, then work out what adjustments you need to make to get a resulting flat image, then apply as necessary.

[2015-05-15 20:26] shrx commented on #151
Unfortunately I can't find the source, but if I remember correctly there were plans to have the camera use dynamic (i.e., lens-specific) color and brightness corrections, but I guess it was put on hold or deemed unfeasible.

[2015-05-15 20:47] 6by9 commented on #151
The dynamic lens shading algo is active, but only if you enable a statistics pass on stills capture - "-st" option in raspistill. Doing so also forces recomputing all AWB gains, so don't complain when "-awbg" then fails, and potentially AE digital gain.
Trying to integrate the fixes to run dynamic lens shading without needing a stats pass is still on my "to do" list, but the branch it was fixed on

[2015-05-15 22:56] spikedrba commented on #151
@JamesH65 bear with a noob if you can, any pointer of what I'd need to read up and understand in order to do that? or is this yet another case of completely missing the point and this being something requiring a ton of understanding and many months man hours to accomplish?

[2015-05-16 07:46] shrx commented on #151
I wouldn't say months, but it's not straightforward:
http://en.wikipedia.org/wiki/Flat-field_correction
http://www.astronomie-und-internet.de/docs/Creating%20a%20Flatfield%20Calibrating%20Image.pdf

[2015-05-16 20:13] 6by9 commented on #151
There's no way to set your own lens shading tables into the ISP, so if you were to try calibrating it yourself, then you've got to implement the entire pipeline yourself. That is lots of work, or you've got to make use of someone else's pipe which is unlikely to be trivial, or realtime.
IIRC Lens shading correction is done in the Bayer domain as you end up with tables for each of the 4 colour chan

[2015-05-25 21:23] asavah opened #242 "Please update userland code."
This repo is outdated after recent commits to https://github.com/raspberrypi/firmware.

Current userland code won't allow building of popcornmix/xbmc newclock4 branch with ffmpeg hevc patches https://github.com/popcornmix/xbmc/commit/98b12a72a249bd92c6b49b778418ee77868cd40a

Error: libavcodec/libavcodec.so: undefined reference to `vcsm_clean_invalid'

Output of nm from the relevant library built f

[2015-05-25 21:34] popcornmix commented on #242
Sorry, missed that. Try now.

[2015-05-25 21:37] asavah commented on #242
TYVM!
Builds perfectly fine now.

[2015-05-25 21:37] #242 closed

[2015-05-28 15:49] MauroMombelli opened #243 "Feature request: raspivid ~100ms latency"
hi,
doing some experiment (either using HDMI and/or streaming) seems like the video from raspivid come with ~100ms of latency, it ramp up to 150ms but never lower than 80ms.

Is this some HW limitation? is there a way (spaecific hw, option, or code fix) to get lower latency?

thanks.

[2015-05-28 15:57] JamesH65 commented on #243
There is quite a bit of processing going on. The image needs to be captured by the camera (speed depends on exposure), transferred over the CSI-2 link to the ISP in the GPU. It then goes through about 25 stages of processing to convert from the bayer sensor data to something that looks like a picture. The ISP is good for about 180MPixels/second IIRC from start to finish. Then there is work require

[2015-05-28 18:23] MauroMombelli commented on #243
i understand that there is a lot going on, but from my test using FullHD and HD (30 or 60 fps) has about the same latency!
so there seems to be something like a buffer or similar that is slowing everything down.
The problem is i have no experience in video driver/processing and AFAIK part of that implementation in source closed; so i need an help to understand what i can study to start to debug th

[2015-05-28 19:17] JamesH65 commented on #243
I seriously doubt you will be able to do anything to improve the latency from userspace. I suspect there isn't actually much room for improvement anyway. 100ms is pretty good. I presume this is just HDMI (preview) output? No H264 encode or saving to SD card?

[2015-05-29 09:40] MauroMombelli commented on #243
i think so, for plain HDMI i used

    /opt/vc/bin/raspivid  -t 0 -w 1280 -h 720 -fps 60

now i'm goint to try with

    /opt/vc/bin/raspivid  -t 0 -w 1280 -h 720 -fps 60 -o /dev/null

if you have any suggestion it can improve.. i also tried using v2l, but its strange as the output of v2l-ctl is not readable and i don't get why, the command i'm using are

    #!/bin/bash
    modprobe bcm2835-v4l2

[2015-05-29 13:01] MauroMombelli commented on #243
more test:

    /opt/vc/bin/raspivid  -t 0 -w 1280 -h 720 -fps 60 -o /dev/null

use up to 10% cpu (with one raspvid thread eating costantly 3.8% cpu, on raspi b+) and i have to use a power supply > 1Ampere output or it reboot after 10/15sec (!)

with

    /opt/vc/bin/raspivid  -t 0 -w 1280 -h 720 -fps 60

cpu usage of 3%, and no raspivid instance hog near 1% and run fine on the 1Ampere usb charger

[2015-05-29 13:38] JamesH65 commented on #243
*It's probably worth continuing this conversation on the Pi forums - there
will be more people who may be able to comment.*

*Odd though that dumping to NULL seems to take more power than doing
something with the data - that sounds odd.*

*You will need a decent power supply, the camera uses at least 200-250mA.*

On 29 May 2015 at 14:01, Mauro Mombelli <notifications@github.com> wrote:

[2015-05-29 13:52] popcornmix commented on #243
If you don't specify an output filename it doesn't encode the video, so less cpu and less power consumption.
https://github.com/raspberrypi/userland/blob/master/host_applications/linux/apps/raspicam/RaspiVid.c#L2109

[2015-05-29 13:54] MauroMombelli commented on #243
but when i output to -o - (or to a mkfifo file) raspi process still keep itself low (on the other way, netcat used to stream in use a good 30%)

[2015-05-29 14:17] JamesH65 commented on #243
When using -o, the software will be opening up a file, and sending data to
it. Even if NULL this will take more CPU and power that not doing anything
with the data (except display). Piping to netcat will use even more power
and CPU because now the system is using the ethernet (and hence lots of USB
as well).

On 29 May 2015 at 14:54, Mauro Mombelli <notifications@github.com> wrote:

[2015-05-29 14:59] MauroMombelli commented on #243
here some test (please even if the data is taken "punctually" the value was pretty stable over 10-15 seconds

no output ouption (aka only HDMI): 0% cpu (total: 2.4%)
to null (+hdmi): 3.8% 3.3% 0.9% (and two systemd-timesyncd at 2.8% and 2.4%.. uhmm) (total: 10.5%)
to normal file(+hdmi): 2 process at 3%, 1 at 0.5% (total: 6.2% !!)
to netcat(+hdmi): 10.3% netcat, 2.3%, 1.4% and 0.9% (total: 15.5%)

[2015-05-31 18:48] derekenos opened #244 "raspivid --help output is printed to stderr instead of stdout"
This prevents pagers like `less` and `more` from working as expected when the height of the content exceeds that of the terminal window.

Example:

`raspivid --help | less` displays only the last page of content:
![screenshot - 05312015 - 02 38 14 pm](https://cloud.githubusercontent.com/assets/585182/7903203/f1628e82-07a2-11e5-92a6-81368852eb69.png)

Redirecting `stderr` to `stdout` allows `less`

[2015-06-01 22:56] 6by9 commented on #243
Assuming 1280x720 30fps:
Frame exposed on sensor and line received by GPU - 33ms.
Rolling shutter delay from first line of the image to the last - ~20ms
ISP processing (assuming stabilisation off - partially done as the data is received) - approx 10ms.
Video encode - approx 20ms.
Network transmission - ??!?
Video decode - seriously variable.
Display on HDMI - depends on the monitor.
So best case f

[2015-06-01 23:03] 6by9 commented on #244
Feel free to sort out a patch and make a pull request.
You are right that all the fprintf lines are set to stderr, when stdout would probably be more useful.

Likewise I believe all the vcos_log_xxx lines are going to stderr. A quick tweak to https://github.com/raspberrypi/userland/blob/master/interface/vcos/pthreads/vcos_pthreads.c#L334 is likely to fix that, although that affects all users of vc

[2015-06-02 00:01] popcornmix commented on #244
Be aware that raspivid supports output of encoded data to stdout and so you need to be careful not to mix logging output with that.

[2015-06-02 06:15] 6by9 commented on #167
Old issue, but I'm hoping I've fixed this in the latest firmware.
https://github.com/Hexxeh/rpi-firmware/commit/a1621d67b20f04acdac602d0b24923ec3cdbfb66 "firmware: MMAL: reset buffer recommended values on switching back to raw pixels"

[2015-06-02 07:43] JamesH65 commented on #244
Following on from popcornmix, all output was pushed to stderr in order to
enable the encoded output to stdout. However, I see no reason off hand why
the help cannot go to stdout, since you won't be using them at the same
time as encoded output.

On 2 June 2015 at 01:02, popcornmix <notifications@github.com> wrote:

[2015-06-02 13:13] MauroMombelli commented on #243
thanks,
camera and FPS seems to indrocute the biggest lag, with seems ok

sorry but AFAIK 1280x720 is NOT 1280P but 720P, and by the specification the board support it (from RS)

[2015-06-02 13:57] 6by9 commented on #243
Typo by me, I meant 720P.

The sensor modes that are used by Pi are
- 1080P30 cropped 1-30fps mode
- 5MPix 1-15fps mode
- 5MPix 0.1666-1fps mode
- 2x2 binned 1296x972 1-42fps
- 2x2 binned 1296x730 1-49fps
- VGA 30-60fps
- VGA 60-90fps
Whilst the Omnivision datasheet may claim 720P60, they never provided us with register settings for it, or we ignored it as it had a hugely cropped field of view. If

[2015-06-02 14:00] MauroMombelli commented on #243
very interesting, is there a way to try in in case have been removed by you? also this expplain the bad quality of the video. Also the upscaling can take away a lot of time, right? thime to set up again the test rig :+1:

[2015-06-02 14:57] JamesH65 commented on #243
Upscaling won't take much time - it's all done in the HW.

Not really any way of trying out modes that are not hardcoded in to the
driver.

On 2 June 2015 at 15:00, Mauro Mombelli <notifications@github.com> wrote:

[2015-06-02 15:07] MauroMombelli commented on #243
yes, after quick test there seems to be a smoother video using VGA@90 fps (delay is still 80-100ms but maybe we have less variance, hard to tell without an automated test, maybe with some OCR..)

[2015-06-02 15:35] 6by9 commented on #243
Almost true. The ISP effectively runs at one pixel per clock, whether that be input or output. So it will be equivalent in time to 1280x720 in as well as out. That's also why capturing a still at VGA output resolution takes approximately the same amount of time as a 5MP capture - they are both reading in the full 5MP from the sensor, so that is the bottleneck. It just won't be outputting a pixel o

[2015-06-08 11:12] XECDesign opened #245 "Missing .pc files"
It would be nice to have bcm_host.pc, egl.pc and glesv2.pc included. It would reduce the modifications needed to compile software for the pi.
https://git.collabora.com/cgit/user/pq/android-pc-files.git/tree/pkgconfig?h=raspberrypi

[2015-06-08 11:21] leio commented on #245
For these to be really useful, they should be installed in the standard location - $libdir/pkgconfig (probably /usr/lib/pkgconfig most of the time) - instead of where it would be installed usually per PREFIX (like PR#110 would) under /opt/vc/*
Which leads to the question of why all this is in /opt anyways, if open source. If it installed in a normal prefix, pkgconfig files would go to the right pl

[2015-06-14 00:55] b-pass opened #246 "Cannot glMapBufferOES with GL_STREAM_DRAW"
In raspberrypi/userland/interface/khronos/glxx/glxx_client.c
Line 385 & 397
... If glBufferData() is called with GL_STREAM_DRAW then the buffer's cached size is set to zero.

In raspberrypi/userland/interface/khronos/ext/gl_oes_map_buffer.c
Line 66 & Line 94
... If the cached size is zero, then the GL_INVALID_OPERATION is raised and the buffer is not mapped.

The net effect being that you can't ca

[2015-06-25 16:18] kenrestivo commented on #56
I too would like to have the source code to vcdbg. Thanks.

[2015-06-26 21:29] Ruffio commented on #12
@mjhammel is this still an issue?

[2015-06-26 21:29] Ruffio commented on #13
@aharter is this still an issue?

[2015-06-26 21:30] Ruffio commented on #19
@kientzle is this still an issue?

[2015-06-26 21:31] Ruffio commented on #20
@kientzle is this still an issue?

[2015-06-26 21:32] Ruffio commented on #22
@lurch is this still an issue?

[2015-06-26 21:32] Ruffio commented on #28
@jeffism is this still an issue?

[2015-06-26 21:34] Ruffio commented on #30
@shrx is this still an issue?

[2015-06-26 21:35] Ruffio commented on #34
@towolf is this still an issue?

[2015-06-26 21:35] Ruffio commented on #38
@towolf is this still an issue?

[2015-06-26 21:37] Ruffio commented on #56
@lurch is this still an issue?

[2015-06-26 21:39] Ruffio commented on #60
@popcorntime I believe that this can be closed

[2015-06-26 21:40] Ruffio commented on #78
@JamesH65 any progress on this issue?

[2015-06-26 21:42] Ruffio commented on #83
@JamesH65 how is the investigation going?

[2015-06-26 21:43] Ruffio commented on #94
@DuncanRowland is this still an issue?

[2015-06-26 21:44] Ruffio commented on #98
@JamesH65 whats the status on this issue?

[2015-06-26 21:44] XECDesign commented on #56
yes

[2015-06-26 21:45] Ruffio commented on #117
@brianolson is this still an issue?

[2015-06-26 21:46] Ruffio commented on #142
@JamesH65 whats the status on this one?

[2015-06-26 21:48] Ruffio commented on #133
@Pol-on does the fix work?

[2015-06-26 21:50] Ruffio commented on #56
@lurch any comments on this one?

[2015-06-26 21:56] Ruffio commented on #144
@6by9 is this ready for testing?

[2015-06-26 21:57] Ruffio commented on #145
@JamesH65 whats the status og this issue?

[2015-06-26 21:58] Ruffio commented on #146
@JamesH65 any status?

[2015-06-26 21:59] Ruffio commented on #153
@JamesH65 ping

[2015-06-26 22:21] 6by9 commented on #144
It appears that this was released back on 27 Mar 2014 based on the reference popcornmix has made in raspberrypi/firmware. I would expect that to do the job unless someone tells me otherwise.

[2015-06-27 02:54] Pol-on commented on #133
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
Yes, it does.
It was very simple.
Best wishes
Adam
 
Dnia Pi±tek, 26 Czerwca 2015 23:48 Rasmus Christiansen <notifications@github.com> napisa³(a)

@Pol-on does the fix work?
—Reply to this email directly or view it on GitHub.
 

 

[2015-06-27 11:10] #133 closed

[2015-06-27 16:35] popcornmix commented on #144
@abhimanyuv1 okay to close?

[2015-06-27 16:46] abhimanyuv1 commented on #144
Yes.

[2015-06-27 16:46] #144 closed

[2015-06-27 17:46] Ruffio commented on #50
@towolf  is this still an issue?

[2015-06-27 17:52] Ruffio commented on #76
@dmopalmer @jollyjollyjolly is this still an issue?

[2015-06-27 17:53] Ruffio commented on #114
@AnykeyNL @popcornmix is this still an issue?

[2015-06-27 17:54] Ruffio commented on #119
@popcornmix I think this one should be closed as there have been no response for 2 years now...

[2015-06-27 17:54] Ruffio commented on #120
@pycat is this still an issue?

[2015-06-27 17:55] Ruffio commented on #137
@ChiYuan is this still an issue?

[2015-06-27 18:23] Ruffio commented on #167
@waveform80 can this issue be closed?

[2015-06-27 18:23] Ruffio commented on #170
@chewep is this still an issue?

[2015-06-27 18:23] Ruffio commented on #173
@redhawkuk is this still an issue?

[2015-06-27 18:24] Ruffio commented on #174
@aizvorski is this still an issue?

[2015-06-27 18:24] Ruffio commented on #175
@mirecta is this still an issue?

[2015-06-27 18:24] Ruffio commented on #178
@ajlennon is this still an issue?

[2015-06-27 18:25] Ruffio commented on #188
@rewolff @popcornmix is this still an issue?

[2015-06-27 18:25] Ruffio commented on #193
@chinasaur is this still an issue?

[2015-06-27 18:25] Ruffio commented on #207
@magomez is this still an issue?

[2015-06-27 18:25] Ruffio commented on #209
@andyg24 is this still an issue?

[2015-06-27 18:25] Ruffio commented on #212
@ad0nis is this still an issue?

[2015-06-27 18:25] Ruffio commented on #216
@ali1234 is this still an issue?

[2015-06-27 18:26] Ruffio commented on #220
@rcombs @asavah is this still an issue?

[2015-06-27 18:26] Ruffio commented on #221
@rcombs is this still an issue?

[2015-06-27 18:27] Ruffio commented on #228
@wm4 is this still an issue?

[2015-06-27 20:06] wm4 commented on #228
It's a theoretical issue. I haven't checked whether there were changes to this part of userland, but if there were no changes, I'd claim it still exists.

Anyway, I finished my MMAL decoding implementation. It's in FFmpeg. It seems to work sufficiently so far. Saner MMAL_BUFFER_HEADER_T behavior (such as being able to reference a buffer even if the pool is destroyed) might have been useful, but I

[2015-06-27 20:21] waveform80 commented on #167
I'll open a ticket on picamera to remind me to test this before the next release; I'm a bit busy with picraft (and dealing with a 2 month old!) at the moment so it might be a week or two before I get to this but if it's in the picamera issue tracker I won't forget it :)

[2015-06-27 21:31] 6by9 commented on #167
As referenced above, I did put in a change for this that was released in https://github.com/Hexxeh/rpi-firmware/commit/a1621d67b20f04acdac602d0b24923ec3cdbfb66
Hopefully buffer_num_recommended and buffer_size_recommended are now reset to sensible values when switching back from opaque mode.

[2015-06-28 00:01] dmopalmer commented on #76
I have not looked at the source code recently, but as of raspistill v.1.38
$ raspistill -o /tmp/foo.png --exposure verylong
gives a 1/15 s autoexposure, even when the camera is in a light-tight box and
$ raspistill -o /tmp/foo.png --exposure 2
RaspiStill: Unknown exposure mode: 2
so the command line doesn't support an exposure time, and doesn't do anything sensible with exposure mode.

[2015-06-28 01:00] kientzle commented on #19
Certainly not.

[2015-06-28 01:00] #19 closed

[2015-06-28 01:09] kientzle commented on #20
Looks like this has been fixed.

[2015-06-28 01:09] #20 closed

[2015-06-28 07:42] shrx commented on #30
@Ruffio I will check tonight when it's dark, my RPi camera is in a fixed location now recording the sky.

[2015-06-28 10:25] AnykeyNL commented on #114
not for me as I am using fixed lighting now for my solution.

On Sat, Jun 27, 2015 at 7:53 PM, Rasmus Christiansen <
notifications@github.com> wrote:

[2015-06-28 12:31] popcornmix commented on #114
This should be implemented now.

[2015-06-28 12:31] #114 closed

[2015-06-29 07:55] DrRowland commented on #94
Not sure it it's a issue, the save file still does not have the filter applied, but perhaps this is by design.

[2015-06-29 12:33] 6by9 commented on #94
Not entirely by design, but very unlikely to get fixed.

When video encoding, the GPU uses a different image format to stills or preview without encoding, and there are a couple of effect plugins that don't support that format.
I did look into this under https://www.raspberrypi.org/forums/viewtopic.php?f=43&t=83353&hilit=address+effects&start=25#p590941 Emboss and blur got converted, but not the o

[2015-06-29 17:59] kr15h commented on #220
Its still an issue for me. Just cloned the latest version and got this while compiling on Arch Linux ARM:
[code]

[2015-06-29 19:10] brianolson commented on #117
I haven't hit this in a while. If you want to close the issue that's cool.

[2015-06-29 19:11] brianolson commented on #117
Aha! I see I have a close issue button myself. Okay then.

[2015-06-29 19:11] #117 closed

[2015-06-29 19:27] #119 closed

[2015-06-30 08:36] magomez commented on #207
yes, it is still happening in version b834074d0c0d9d7e64c133ab14ed691999cee990

[2015-07-05 07:43] LongChair opened #249 "Some Khronos headers seem outdated"
While trying to rebuild some recent apps on RPI2, i figured that some Khronos headers are lacking some definitions from the official ones.

Here is the reference one https://www.khronos.org/registry/egl/api/KHR/khrplatform.h

The RPI one is at least missing the folowing definitions at the end of the file :

[code]

Any chance we could have those synced ?

[2015-07-07 20:25] waveform80 commented on #28
There's a raspividyuv now provided in userland which looks like it ought to do this (I'm not sure it's in the current packaged firmware from Raspbian, but it should be easy enough to build from a clone of userland).

[2015-07-07 20:36] waveform80 commented on #146
The raspistill demo application uses the camera's still port which requires a mode switch for each frame captured. The mode switch eats up quite a bit of time and I doubt you'd get beyond 2fps using it. To get faster, either capture from the video port or record video and extract frames on the fly (probably easiest with MJPEG - there's an example of this [with picamera](https://gist.github.com/wav

[2015-07-08 11:09] 6by9 commented on #146
Or use -bm for burst mode. That tells the GPU that it is doing a sequence of captures, and stops it switching back to preview mode in between.

[2015-07-10 08:06] vlachoudis commented on #146
Thank @6by9 I will give it a try.

[2015-07-14 12:57] ali1234 commented on #216
Yes.

[2015-07-14 19:52] YamSoup commented on #178
yes

[2015-07-14 21:55] 6by9 commented on #216
1BPP appears to be a palettised format from the lowest level hardware driver, but vc_dispmanx_resource_set_palette says it is only for 4BPP and 8BPP formats.
The GPU code for vc_dispmanx_resource_set_palette checks for the palette being a block of either 16 (4BPP) or 256 (8BPP) 16 or 32 bit words, and the image manipulation library likewise seems to really only have handling for 4BPP and 8BPP.
It

[2015-07-14 22:24] ali1234 commented on #216
My assumption is that the dark blue colour comes from treating the "1"s in the 1BPP image as a colour and casting it to 16 or 32 bit, resulting in only the lowest bit of the blue channel being turned on.

I once got a 1BPP surface to display with a palette, and also crashed the VC in the process. I have two versions of my code for 1BPP and 8BPP but I forgot to change the pitch so it overran the bu

[2015-07-26 10:32] LongChair opened #250 "Add possibility to decode via mmal in BGRA"
I have been using the mmal decoder with the provided samples and using qt5.

In some parts of qt5 (ie webengine), chromium requires to use BGRA imagedata which are not available with the decoder.

As the encoding value is defined in https://github.com/raspberrypi/userland/blob/b834074d0c0d9d7e64c133ab14ed691999cee990/interface/mmal/mmal_encodings.h#L79 , i was wondering if that was possible to hav

[2015-07-27 14:50] popcornmix commented on #250
Duplicate of https://github.com/raspberrypi/firmware/issues/452

[2015-07-27 14:50] #250 closed

[2015-07-29 17:55] ajlennon commented on #178
@Ruffio not sure I'm afraid. I submitted a patch to meta-raspberrypi to prevent the --as-needed being used. I I get a chance I'll see if that is working

[2015-08-04 09:45] aharter commented on #13
It is possible to build the libs in an Android environment. It comes down to whether circular dependencies are considered as an issue or not. Personally, I do.

[2015-08-12 09:12] DragonEmbers commented on #117
Apologies for the delay in responding. I've just had a chance to go back and look at this issue.
My pi is now up to date and has all the latest software, re-tested and this issue still exists.

-------- Original message --------
From: Brian Olson <notifications@github.com>
Date: 29/06/2015  20:11  (GMT+00:00)
To: raspberrypi/userland <userland@noreply.github.com>
Cc: DragonEmbers <bcw@dragonero.co

[2015-08-12 10:50] 6by9 commented on #117
Please provide your full testcase - without that you won't get anyone investigating. (Almost all of those supporting Pi are now doing so voluntarily following Broadcom pulling out of the apps processor market in summer 2014).

Please confirm you are NOT using MJPEG. That codec is known to have issues if the FIFO gets full, and I'm not going to look into it further as it is significant rework.

[2015-08-22 12:46] popcornmix commented on #209
Closing due to lack of response.

[2015-08-22 12:46] #209 closed

[2015-08-27 11:36] fabled commented on #220
The macro definitions are incorrect in vcos module. As workaround I added to my build the patch:
http://git.alpinelinux.org/cgit/aports/tree/main/raspberrypi/fix-inlines.patch

I also need the following patch to build against musl:
http://git.alpinelinux.org/cgit/aports/tree/main/raspberrypi/fix-build.patch

[2015-08-28 05:56] tejonbiker commented on #76
Hi, I noticed the whole time that takes the -ss to 6000000 (Max value), but I don't know where the camera start to record, as far I can see, the camera waits 6 seconds for capture something, later take another capture of 6 seconds (this image is showed in the preview image in a HDMI monitor), later wait another 6 seconds and start to record the ultimate image (another 6 seconds),  There's any way

[2015-08-28 09:21] JamesH65 commented on #76
There are some threads on the forum which cover exactly this topic of using
long exposure times.

On 28 August 2015 at 06:56, tejonbiker <notifications@github.com> wrote:

[2015-08-29 12:44] fredericofs opened #253 "hello_video freezes"
My hello_video plays small h264 movies ok.
But freezes along the way when playing longer files.

[2015-09-03 17:22] DjPale opened #254 "EGL Context creations hangs after VideoCore crash"
I have seen similar issues like this - but they're quite old and maybe not related to the same bug. I've compiled SDL2 according

At some point the display freezes up and have to be released by *SIGKILL* signal to the app.
After this- all applications which tries to create an EGL context won't start at all. The only way to recover that I have found is to reboot the system. This has happened under

[2015-09-04 12:32] popcornmix commented on #254
The problem isn't that eglCreateContext doesn't return - it sounds like the gpu has crashed.
I suspect that video playback (e.g. hello_video) and quite possibly vcgencmd will also be failing at this point.

It might be worth setting ``start_debug=1`` in config.txt and after the crash running:
``
sudo vcdbg log msg
sudo vcdbg log assert
sudo vcdbg malloc
sudo vcdbg reloc
``
Ideally run ``vcgencmd c

[2015-09-04 19:42] srcshelton opened #255 ""undefined reference to `mmal_"* - compilation fails (with gcc-4.8.5?)"
Commit b864a841e5a459a66a890c22b3a34127cd226238 built correctly with gcc-4.8.4 - but now this and all commits since are failing with gcc-4.8.5.

The build process starts:

[code]

... and the final error is:

[code]

[2015-09-04 20:09] srcshelton commented on #255
FUll build log available at: https://gist.githubusercontent.com/srcshelton/9a1f8a3618e454d456a0/raw/b591119f5a2d7c9c2fb62aeed9e3578ac93a7ca8/raspberrypi-userland-9999.log

[2015-09-05 12:50] eredacokmerke opened #256 "buildme error on Arch Linux Arm"
I tried to compile userland on Pi2 with Arch Linux Arm.After I type ./buildme I get

[code]

error. I typed buildme commands manually

[code]

`make -j4` returns error

[code]

all output is here : http://paste2.org/I826UGVc

My system is Arch Linux Arm . `Linux alarmpi 4.1.6-2-ARCH #1 SMP PREEMPT Sat Aug 22 12:18:37 MDT 2015 armv7l GNU/Linux`

[2015-09-05 18:10] popcornmix commented on #255
Can you be more specific:

Are you saying that b864a84 is the first commit that fails, and preceding commit (ffdd891) works?
Considering the content of b864a84 that doesn't seem possible.

[2015-09-05 22:13] srcshelton commented on #255
No, sorry, I'm saying that I was using gcc-4.8.4, and with this commit b864a84 compiled and ran correctly.  Since b864a84, I've now upgraded to gcc-4.8.5 and now neither b864a84 nor any commit since works.  As b864a84 did work before, I've not tracked any further backwards.

[2015-09-07 08:48] ED6E0F17 commented on #255
Nice overlay, I like what you did with the pthreads issue in  https://github.com/raspberrypi/firmware/issues/34

A direct pull of master builds fine on ChromiumOS, which is basically the same as Gentoo, but the same  issue was reported here:  http://lists.opensuse.org/opensuse-arm/2015-01/msg00041.html

[2015-09-07 09:34] popcornmix commented on #255
The userland repo is designed for raspbian and we can't offer much help on getting it working on other distributions. We are willing to accept patches that fix build issues on other distributions if they don't harm raspbian.
I suspect your issue is something trivial. The missing symbols (e.g. mmal_list_create) come from libmmal_util.so.

Firstly confirm you have that symbol. E.g:
[code]
Assuming y

[2015-09-10 00:49] srcshelton commented on #255
Ah - the problem in my case (although I'm not sure how this relates to SuSE) is that `-Wl,--as-needed`, which is in `LDFLAGS` by default, is breaking things in this instance: this class of problem is documented in general terms here: [Project:Quality_Assurance/As-needed](https://wiki.gentoo.org/wiki/Project:Quality_Assurance/As-needed#Failure_in_final_linking.2C_undefined_symbols)

Weird that this

[2015-09-10 13:40] popcornmix commented on #255
Can you confirm that removing ``-Wl,--as-needed`` produces a working build for you?

[2015-09-11 01:13] srcshelton commented on #255
Yes, it's fine with `-Wl,--as-needed` removed - [raspberrypi-userland-9999.ebuild](https://github.com/srcshelton/gentoo-ebuilds/blob/master/media-libs/raspberrypi-userland/raspberrypi-userland-9999.ebuild) is now a working ebuild.

[2015-09-17 22:54] robertely opened #257 "Debian Packaging"
Hey guys, Is there an official packaged version of this available anywhere?

If not I'd like to help get that setup if possible. I want to use this in Debian Jessie, and while I can compile it each time I build Debian it should IMHO be in a package (one not named "userland".)

[2015-09-18 14:34] XECDesign commented on #257
Such a package does not currently exist.

[2015-09-21 01:35] clivem commented on #256
This "smells" like using gcc 5.x to compile it. Try adding "-fgnu89-inline" to your CFLAGS.

[2015-09-23 14:09] fredericofs commented on #253
fixed when removing timeout, I am sending a pull request

[2015-09-23 14:09] #253 closed

[2015-09-23 16:40] wm4 opened #260 "User buffer flags not preserved on input port"
Quoting the docs:
[code]
So I'd expect them not to vanish when setting those flags on a buffer, sending it to an input port, and then receiving the buffer again through the input port's callback. But the input port callback for the VC h264 decoder always returns buffers with flags=0. Is this a bug?

[2015-09-24 16:09] popcornmix commented on #260
No, the intention is they come back from the output port of video_decode.
I believe recycled buffers are always deliberately cleared.
I use these with with video_decode tunnelled to image_fx to distinguish pictures directly associated with a submitted input buffer from the additional deinterlaced frames.

e.g. I set MMAL_BUFFER_HEADER_FLAG_USER0 on each encoded frame, and get that flag back for th

[2015-09-24 16:14] wm4 commented on #260
That's a bit unexpected. I worked it around by putting the information into user_data. Feel free to close this if it's not considered a bug.

[2015-09-24 17:53] #260 closed

[2015-10-01 18:38] ad0nis commented on #212
I've put the project I was going to use this tool for on hold for now, so it's not an issue for me personally at the moment, but I can imagine that other users would still appreciate a convenience function as described earlier.

[2015-10-05 12:20] PeterDaveHello commented on #178
+1

[2015-10-06 18:00] zelmon64 commented on #220
I had this issue building on a raspberry pi 2 (jessie) but solved it by doing "sudo make install" rather than just "make install". I built it with cmake 3.0.2 by changing the minimum required version to 3.0 and adding the line "SET(CMAKE_C_FLAGS "-std=gnu99")" to the CMakeLists.txt file.

[2015-10-14 07:44] bluefishisme commented on #254
I have seen similar issues like this , after the program is freeze , and I kill it , it can not run it again , only reboot can solve this problem. I have little program with source can repeat this problem.
I post it in this link
https://www.raspberrypi.org/forums/viewtopic.php?f=67&t=121267

But no one have any comment.

[2015-10-23 03:38] lecheel opened #262 "[Request] intraperiod vs request key frame"
does userland have request key frame API support

[2015-10-23 04:04] lecheel commented on #262
seems available in here RaspiVid.c
mmal_port_parameter_set_boolean(encoder_output_port, MMAL_PARAMETER_VIDEO_REQUEST_I_FRAME, 1)

[2015-10-23 04:06] #262 closed

[2015-10-26 23:28] shusheer opened #263 "Raspistill automatic shutter speed setting fails in low light"
Problem:
Whatever algorithm is used for iteratively changing shutter settings for Raspistill fails under very low light settings.

To reproduce:
On Raspberry Pi B+ with attached Camera Module, cover the camera with your hand or other black-out material and execute:

raspistill -set -ISO 100 -ev -18 -t 100 -o test.jpg

This should give an output showing the auto shutter speed setting algorithm work

[2015-10-26 23:39] shusheer commented on #263
Possibly related: When "nearly failing" with very low light and forced shutter values, the AWB R/B values go from "sensible" (~256) to 0. May be completely unrelated, but worth reporting at the same time. For example, here is the -set output from:
raspistill -ss 300000 -ev -24 -ISO 100 -awb off -awbg 1.0,1.0 -drc high -n -q 99 -t 1000 -o test.jpg
Notice the final line of output with AWB values cha

[2015-10-30 13:49] 6by9 commented on #263
I'd need to check things out for myself, but a couple of points / confirmations.

- Yes, maximum shutter speed is 66ms if the auto exposure mode is "auto" or an ISO value has been set. "sport" mode has a shorter max shutter speed at 16ms. "night" mode in theory allows it to go up to the max the sensor can support, or is defined by the permitted frame rate range.

- There is a minimum shutter speed

[2015-10-30 19:20] shusheer commented on #263
If there were the possibility of full manual control it would suit me (and by the looks of the forum several others) wonderfully. But I appreciate that's possibly a much bigger job than sense-checking limits in existing code.

Very interesting to see the effect of -t 100 vs -t 500 : the auto-exposure when I cover the camera with my hand just about becomes sensible at -t 500 (though lowers shutter

[2015-10-30 21:09] 6by9 commented on #263
If you've specified shutter speed, ISO, and AWB gains, then there is nothing to adapt and you could run with a lower -t value, but if the control loops are active they need some frames to work with.

[2015-11-04 19:44] developez opened #265 "Using raspistill with -tl and "-a 12" take the same date and time in every picture"
I am using the parameters -tl and -a in this way:

    raspistill -w 640 -h 480 -vf -q 10 -o /[folder]/pic.jpg -tl 200 -t 9999999 -th 0:0:0 -a 12

In the pic the same date and time is write, it never changes.

[2015-11-04 20:16] JamesH65 commented on #265
Probably best to ask this question on the forums, where the commands can be explained more fully.

[2015-11-04 21:33] developez commented on #265
Ok, I though that was a bug.

[2015-11-04 21:33] #265 closed

[2015-11-05 11:12] fullergalway opened #268 "Raspivid: is abort functionality working correctly?"
When raspivid output channel goes away, message repeats about aborting, but never aborts. Try something like:

[code]

Messages like this appear:

[code]

I tried, but failed to understand why `pause_and_test_abort` method isn't catching this, and eventually managed to get expected behavior for my app with a hack of RaspiVid.c, changing this:

[code]

to this:

[code]

Thoughts?

[2015-11-05 12:05] JamesH65 commented on #268
Hmm, I wonder if the loop that tests pData->abort has stopped by the time
this happens. Dunno. I'll try and find time to take a look. Note that this
code was originally intended simply as demo code, certainly not
'production' code, so there are bound to be gotcha's! Hopefully they will
be found and fixed as time goes by. This looks like one of them!

On 5 November 2015 at 11:13, fullergalway <noti

[2015-11-15 23:20] asavah opened #269 "Please keep this repo in sync with raspberrypi/firmware"
Include related changes are missing at least from
https://github.com/raspberrypi/firmware/commit/591b25a7749027ce095a49d0a515294491dd26fc
and
https://github.com/raspberrypi/firmware/commit/d56bf185f0f9e1cc2d9090970a2db1f6ebe76bb2

[2015-11-16 14:48] popcornmix commented on #269
I've updated userland. Okay now?

[2015-11-16 17:30] asavah commented on #269
Thank you.
I think these are still missing: https://github.com/raspberrypi/firmware/blob/master/opt/vc/include/interface/vmcs_host/vc_vchi_audioserv_defs.h#L32
https://github.com/raspberrypi/firmware/blob/master/opt/vc/include/interface/vmcs_host/vc_vchi_audioserv_defs.h#L53
https://github.com/raspberrypi/firmware/blob/master/opt/vc/include/interface/vmcs_host/vc_vchi_audioserv_defs.h#L77
https://

[2015-11-16 17:34] popcornmix commented on #269
Okay, added.

[2015-11-16 17:38] asavah commented on #269
Thanks.

[2015-11-16 17:38] #269 closed

[2015-11-25 20:38] schabbeskugel opened #270 "EV? ISO? AwbGains? ShutterSpeed?"
Dear Reader,
I am not sure if all parameters of raspistill are working as intentionally.
As with Infrared lighting, I wanted to fixate awbgain, shutterspeed etc.
so always using -awb off -awbg 1,2 -ss 600000 etc.
but:
-ev does not show any effect (nor -10 nor +10)
-awb off seems to work for the preview window, but then there seem to be a second pass, where my settings are overwritten by some kind

[2015-11-27 14:15] sergioprado opened #271 "Fails when building with a musl based toolchain"
When building with a musl based toolchain, the build fails with the following message:

---------------------------------------------------------------------------------
[ 96%] Building C object host_applications/linux/apps/raspicam/CMakeFiles/raspividyuv.dir/RaspiVidYUV.c.o
In file included from /home/sprado/workspace/build/buildroot/autobuild/rpi-userland/build/rpi-userland-8306b7c757f4b8e8d9148

[2015-11-27 16:24] JamesH65 commented on #271
Does that break the normal build? Not entirely sure why I added that line
in the first place as it should come in on the header.

On 27 November 2015 at 14:15, Sergio Prado <notifications@github.com> wrote:

[2015-11-27 17:29] sergioprado commented on #271
No, it doesn't. I've tested with both glibc and musl without this line and it works.

[2015-11-27 21:23] sergioprado commented on #271
I've just send a pull request to fix this problem.

https://github.com/raspberrypi/userland/pull/272

[2015-11-30 20:35] 6by9 commented on #270
Changing EV alters the AGC target. If you've specified shutter speed and ISO then you've disabled the automatic algorithm in favour of your manual settings. What do you expect it to do?

awb off with manually specified gains does work on the latest firmwares - what version are you running (```vcgencmd version```). Do NOT specify -st (for statistics pass) on the command line or your settings WILL b

[2015-12-03 02:35] ixs0792 opened #273 "Low Resolution snapshot error"
There seems to be an error in the vc_dispmanx_resource_create, vc_dispmanx_rect_set, vc_dispmanx_snapshot, vc_dispmanx_resource_read_data command chain that causes some videos to produce incorrect results when using low width downscaling.

I am able to recreate the error using [raspi2png] (https://github.com/AndrewFromMelbourne/raspi2png) to output 32x18 files.
When playing a video via omxplayer t

[2015-12-03 02:51] AndrewFromMelbourne commented on #273
This is the wrong place to report/discuss this issue.

If it is an issue with the DispmanX interface, then it should be reported in the [firmware issues](https://github.com/raspberrypi/firmware/issues).

It could also be an issue with the way I am using the DispmanX API. It is undocumented, so there is every chance that I am not using it correctly. So it would better as a [raspi2png issue](https:/

[2015-12-03 03:01] ixs0792 commented on #273
raspi2png doesn't seem to be the issue. I've recreated it using fbcp and my own code. All of them use the undocumented DispmanX API the same way. raspi2png is just the easiest way to recreate it (and is nice and easy to use - thanks!).

So it seems like either the standard interpretation of these commands are incorrect, or there is an issue with the API.

[2015-12-03 03:02] #273 closed

[2015-12-03 03:06] AndrewFromMelbourne commented on #273
Open another issue in the firmware issues. @popcornmix has been very helpful to me on similar issues in the past.

[2015-12-05 22:33] mfn opened #274 "rastpstill with timelapse and datetime does not include Year"
The `--help` states:
`-dt, --datetime : Replace frame number in file name with DateTime (YearMonthDayHourMinSec)`

Using this command line, however, the generated files do not include the year:

`raspistill --width 1920 --height 1080 --encoding png --timelapse 10000 --datetime --timeout 0 --output image_%d.png`

Generated files:
[code]
It should be `image_20151205231531.png`

My c-fu is limited, b

[2015-12-09 11:45] 6by9 commented on #274
A signed 32bit int will take a max value of 2147483647, which only gives enough range for MMDDHHMMSS. I suspect the original author found that things weren't quite as they expected and just trimmed off the year.

If you want to create a patch for this, then you could convert frame to int64_t (may need to include stdint.h). However that will also mean the format string for the filename has to chang

[2015-12-09 13:46] mfn commented on #274
No problem, I completely understand this!

I guess producing a working patch is out of my league (feature wise); however if someone would do that, maybe an approach would be to add a new option, like `--datetime-for-real` (just kidding, but the idea ...)

[2015-12-09 13:52] pelwell commented on #274
You could always rename it afterwards. It would be trivial to write a script that would do the job, and as long as you run it within a year of capture you'll get the right result.

[2015-12-09 15:10] mfn commented on #274
Absolutely; it's just a bit of hassle and having absolute non-ambiguous dates OOTB would be very nice.

[2015-12-14 04:38] modwizcode commented on #245
Updates on this? This is seriously frustrating and the number of accidental installs of mesa based libraries (which then can't easily be fully removed to fix their mess) caused by the lack of pkg-config files is huge. This isn't even a difficult fix, it's basically just 3 stub files.

[2015-12-14 17:08] popcornmix commented on #245
Pull requests are welcome.

[2015-12-21 18:09] bhavinladhad opened #275 "Userland build issue."
I have built the userland repository for raspi.
The camera work fine. But when I run the mmal test examples. If get the following error  .vc.ril.camera  not found.
Reading through the code I found the issue is with the constructor  supplier.  But did not find any code for the same.  Did I don't mistake while compiling  if so then y is raspistill work and not mmal_exapmles_basic 1 not work. or some

[2015-12-21 18:11] popcornmix commented on #275
So does your build of raspivid/raspivid work okay?
Not really sure what the mmal test examples do. @6by9 may know.

[2015-12-21 20:18] 6by9 commented on #275
Which test app are you trying to run? mmalplay/mmalcam? Sorry, not ones I've run recently and they're not released by default with Raspbian.
Is it just a typo in your error that there is a . before vc?

[2015-12-22 12:15] bhavinladhad commented on #275
The examples are basic operations of mmal on which raspi cam runs. They are located in the interface/mmal/test/examples, I don't think that they are released but they are there never the less in the source code.

[2015-12-22 12:17] bhavinladhad commented on #275
While checking through the code I found that bcm_host_init()had not been called in the examples. How can call that function in the examples and link the respective lib in the make or cmake files so that builder me can build the same. Kindly advice...

[2015-12-22 12:56] 6by9 commented on #275
OK, can take a look.
As you can tell I haven't looked at those for a very long time - not sure why they suddenly got added in Sep2014, but c'est la vie.

Which app are you trying that uses the camera? mmalcam, except that that isn't in that directory? All the actual examples are doing video decode it seems.

[2015-12-22 17:40] bhavinladhad commented on #275
Trying all of the apps... Not one  working...  Get vc.ril.camera not found

[2015-12-22 17:41] bhavinladhad commented on #275
Apps ies example 1 2 and 3. Mmalcam mmalplay not working

[2015-12-22 22:56] 6by9 commented on #275
They weren't linking to mmal_vc_client, hence couldn't find any VC services.
mmal_example_basic1 does something sending a load of buffers to/from video_decode.
mmalplay works and renders stuff to the screen.
I haven't investigated the others.
TBH I'm not sure how useful any of them are - might actually suggest purging them.

Commit pushed to https://github.com/6by9/userland/commit/55f6f35bb59268f0

[2015-12-23 09:01] 6by9 commented on #271
PR is merged. Please close the issue if you're now happy.

[2015-12-23 09:02] 6by9 commented on #270
@schabbeskugel please respond or close the issue.

[2015-12-23 18:51] #271 closed

[2015-12-23 20:35] schabbeskugel commented on #270
Dear 6by9,

thanks for your quick response; I'll now have two cams (one in production, one for testing) and hope to completely respond tomorrow;

testing (pi 2) is Nov 18 2015 15:48:41
Copyright (c) 2012 Broadcom
version 0c9af7cde38e223c95c3404f468db8fc5004495c (clean) (release)

"production" (where I did the first tests) (pi b) is Sep 23 2015 12:21:14
Copyright (c) 2012 Broadcom
version c156d00b1

[2015-12-25 10:18] idreamerhx commented on #220
fix-inlines.patch solved compiling on archlinux raspberr pi. thanks.

[2015-12-29 14:39] bhavinladhad commented on #275
I am trying to use the pi cam to sort ground nuts. Needed something fast.. Needed a direct mmal access buffers so that u can process the data instead of going through the processing of... Need to mmal video to process.... Kindly suggest any alternative if any...

[2015-12-29 19:56] 6by9 commented on #275
Raspividyuv - https://github.com/raspberrypi/userland/blob/master/host_applications/linux/apps/raspicam/RaspiVidYUV.c
It's the same as raspivid, but you'll get the raw frames coming in via camera_buffer_callback (line 665) so you're able to do as you please with the pixels from there.

[2015-12-31 00:05] 6by9 commented on #275
Changes merged to fix the test apps. Please close unless you feel there is more needed on those apps.

[2016-01-01 18:26] 6by9 commented on #274
Change merged to correct the help text. Please close unless you think there is some further work required.
If someone can come up with a PR to extend the field to actually include the year without breaking backward compatibility, then that would be great :-)

[2016-01-01 18:28] 6by9 commented on #236
Change merged which removes RaspiCamDocs.odt.
I didn't add a reference to the official page - linking to any file in a github repo would be rather brave, so I don't see it as being an issue that the file has now gone.

[2016-01-01 18:28] 6by9 commented on #236
Please close unless you think there is anything further to be done.

[2016-01-01 18:30] 6by9 commented on #244
Change merged that sends the help text to stdout instead of stderr.
Please retest and close, unless you think there is something further to do.

[2016-01-01 18:34] 6by9 commented on #220
Change merged to fix this.
The definitions are correct - VCOS is an abstraction layer and on most platforms that abstraction is done with inlines. Pthreads needs a bit more work, so had actual function implementations. Inlines now defined to redirect to the actual implementations.
Missing functions defined as stubs as they are not applicable to pthreads.

Please retest, and close if happy.

[2016-01-01 18:55] 6by9 commented on #78
Wow, an oldie.

This will actually be a firmware issue but exposed by raspistill.
At a guess, when the YUV to RGB conversion required for PNG is done it is probably picking up a different colourspace for the first vs subsequent stripes. I'll try to have a look - James no longer has firmware access.

[2016-01-01 19:06] 6by9 commented on #142
For timelapse mode the frame number is inserted in the filename by using sprintf(filename, template, frame_num), where template is the filename passed from the command line. The expectation is that the user will insert %d in the string at the appropriate place.
Insert %s and it tries to treat the frame number as a string, hence the segfault.

Yes, the code could do some validity checking to ensure

[2016-01-01 19:35] #236 closed

[2016-01-01 19:54] mfn commented on #274
I can only think about a new parameter to not break BC, so closing this.

Does it make sense to create a new issue for the "feature" or is it rather pointless without PR? :-)

[2016-01-01 19:54] #274 closed

[2016-01-01 20:54] 6by9 commented on #145
Done with commit https://github.com/raspberrypi/userland/commit/1a7a8b99ed292d7f5fbff47a043afb58d79451dd back in July 2014.

[2016-01-01 20:56] 6by9 commented on #145
@vlachoudis Please close unless you think there is further work to do.

[2016-01-01 21:14] vlachoudis commented on #145
Thank you

[2016-01-01 21:14] #145 closed

[2016-01-02 09:51] 6by9 commented on #274
Bring it up in the forums - you'll only tend to get a few people browsing the issues here on Github.

Something similar has just come up as https://www.raspberrypi.org/forums/viewtopic.php?f=43&t=130825 where they want to add milliseconds to the filename.

[2016-01-02 16:15] atupone opened #278 "printf for int64_t should require PRId64"
I got https://bugs.gentoo.org/show_bug.cgi?id=570400
My guess is that the code should use PRId64 for format string when printing int64_t

[2016-01-02 16:34] 6by9 commented on #278
Feel free to create a pull request.
Seeing as PRId64 is defined as "lld" in inttypes.h, and that is what is used at interface/vmcs_host/linux/vcfilesys.c:246, this is only cosmetic so not going to be a high priority to fix.

[2016-01-03 14:11] #60 closed

[2016-01-04 10:34] #275 closed

[2016-01-05 15:08] msperl commented on #142
Is it really just demo code?

I guess people are using the command-line inside of shell-scripts and such, so it should be stable and not segfault...

[2016-01-05 15:42] JamesH65 commented on #142
Indeed. I wrote it, put in rudimentary error checking, but it's never been
claimed it's production ready - hence demo code, and hence I put in quite a
few comments in the code to make it easier to understand. I was expecting
by now that people would have taken the code and either written their own
versions or hardened the base code. No such luck. If I have time I might be
able to spend some effort

[2016-01-05 16:20] 6by9 commented on #142
I have a patch for this on my laptop that should sanity check the filename.
Not checked it yet as I didn't have a Pi to hand, and can't cross-compile it under Cygwin (or not that I've been bothered to solve).

My update was just that I was bored so going through issues trying to knock a bundle on the head (there are a load where the reporter hasn't responded to questions, and/or have been fixed bu

[2016-01-05 22:40] 6by9 commented on #142
Patch pushed to my branch and PR created as https://github.com/raspberrypi/userland/pull/279

[2016-01-07 12:26] 6by9 commented on #142
PR merged. Please close if happy.

[2016-01-07 12:28] 6by9 commented on #34
PR #279 now merged which adds help text stating that EV is in steps of 1/6 stop.
Please close unless you think there is something further to do.

[2016-01-07 12:34] #142 closed

[2016-01-07 17:28] christinabrien opened #281 "Rendering errors with vertex coalescing and advanced stencilling."
glDrawArrays and glDrawElements appear to coalesce multiple vertices to avoid repeated drawing. (glxx_client.c:draw_arrays_or_elements). When stencilling is enabled with an advanced mode such as GL_INCR or GL_DECR, pixels can be written an incorrect number of times, causing the stencil buffer to not contain the intended result.

QPainter uses advanced stencilling to render non-convex paths. The pa

[2016-01-16 20:10] 6by9 commented on #244
@popcornmix Do you want to close this? The issue is fixed, and the original poster seems to have gone away.

[2016-01-16 20:12] 6by9 commented on #220
@rcombs @kr15h Please review fixed code. Whilst there are still warnings from the code, the inline issue should be resolved.

[2016-01-16 20:15] #244 closed

[2016-01-16 20:30] derekenos commented on #244
Sorry, I've been meaning to respond. Thanks for the fix!

[2016-01-20 14:02] popcornmix commented on #281
I'm afraid we are unlikely to be able to fix this. The original authors of the gpu 3d driver are gone. While we have the source and may be able to fix trivial issues, this sounds like something quite involved.

There is some good news. Eric Anholt is working on an open source arm-side [Gallium3D](http://www.phoronix.com/scan.php?page=news_item&px=MTcyMzE) driver. That has recently been merged into

[2016-01-21 14:03] asavah commented on #220
@6by9
Cross-builds with gcc-5.3.0 and gcc-linaro-snapshot-5.3-2016.01 (crosstool-ng based toolchain) succeeded for me.

[2016-01-22 20:31] chetanbnaik opened #284 "requesting an intra frame while recording"
Hello Developers,

I am using picamera python module to capture video stream. I want to request a key frame (intra frame) while video recording is in progress. What is the correct way of doing this through mmal?

Many thanks for answering this quite a basic question.

[2016-01-22 21:04] JamesH65 commented on #284
Please ask this sort of question on the Raspberry Pi forums - there is a camera section for exactly this sort of thing.

[2016-01-22 21:55] 6by9 commented on #284
Plus if you're using picamera then you should really be looking at https://github.com/waveform80/picamera
From MMAL, you're after MMAL_PARAMETER_VIDEO_REQUEST_I_FRAME - https://github.com/raspberrypi/userland/blob/master/interface/mmal/mmal_parameters_video.h#L54

[2016-01-23 12:45] #284 closed

[2016-01-28 11:09] myw31415926 opened #285 "example_basic_2.c run error with MMAL_EIO"
Hello:
Today, I run mmal/test/examples/example_basic_2.c, but it doesn't work. as follows:

But I found **context.status** is **MMAL_EIO**, it means **I/O error**, why? How to solve the problem?
Thanks!

[2016-01-31 23:28] 6by9 commented on #285
The main error is due to MMAL_PARAMETER_ZERO_COPY being enabled incorrectly.
Disable that (set to MMAL_FALSE) and it runs further, but still stalls for me. Seeing as it doesn't appear to do any checks for output format changes, I'm not sure what I expect to work or not.

[2016-02-08 23:23] Terminus-IMRC opened #288 "What is MMAL_COMPONENT_DEFAULT_MIRACAST?"
c.f. https://github.com/raspberrypi/userland/blob/master/interface/mmal/util/mmal_default_components.h#L68

What is ```MMAL_COMPONENT_DEFAULT_MIRACAST``` and how do I use it?
Or is it just an internal function?

[2016-02-09 19:10] 6by9 commented on #288
Not built on Pi.
For other projects there was a single component that would create a miracast encoded video stream, with various optimisations. I'm not certain all the relevant hooks are even present on Pi.
Ignore it.

[2016-02-09 23:58] Terminus-IMRC commented on #288
Thank you for your reply.
I hope I can use it also on Pi...!

[2016-02-09 23:58] #288 closed

[2016-02-10 00:02] Terminus-IMRC commented on #288
FYI: "miracast" strings were first seen in https://github.com/raspberrypi/firmware/commit/d3ada6f943818eecda9a81c1091631d3971798b2 .

[2016-02-12 16:02] fheday opened #289 "Can't run java2d with opengl"
When using this driver and  trying to run a java program (in my specific case, BlueJ), using the opengl pipeline:

`java -Dsun.java2d.opengl=true  -Dawt.useSystemAAFontSettings=on -cp "/usr/share/bluej/bluej.jar:/usr/lib/jvm/jdk-8-oracle-arm32-vfp-hflt/lib/tools.jar" bluej.Boot`

 I get the following message:

[2016-02-12 17:00] popcornmix commented on #289
Pi doesn't support OpenGL, only OpenGLES, so this is unlikely to work.
It is possible the very experimental new GL driver might make this more likely to work, but currently it is very experimental.

[2016-02-15 08:15] MikaelUrankar opened #291 "build fails with clang 3.8.0 on FreeBSD armv6"
Hi,

We are seeing this error on FreeBSD armv6 with clang 3.8.0:
[code]

The issue is described in details here:
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=207097

[2016-02-15 10:32] 6by9 commented on #291
Yes, looks like a genuine bug. Feel free to create a pull request!

[2016-02-18 09:02] cjsoftuk commented on #268
This appears to exist (in some form) in the latest build of raspivid.  It's exceptionally unhelpful in my case as I'm piping to netcat and it appears that a dead pipe doesn't *always* cause raspivid to terminate.

I managed to create a situation where it did exit correctly if run from bash/dash/whatever shell is default, but not if run from systemd as part of rc.local.

[2016-02-18 09:13] JamesH65 commented on #268
I've not had time to look at this - if you find a fix, please send us a
patch.

On 18 February 2016 at 09:02, cjsoftuk <notifications@github.com> wrote:

[2016-02-18 09:34] cjsoftuk commented on #268
@JamesH65 - Will try to have a look at some point - however I've worked around it in my application using auto-login and .bashrc for now.  It seems that launching from there doesn't cause this issue, only from systemd/init.

[2016-02-18 14:20] popcornmix commented on #291
This is now fixed.

[2016-02-18 14:20] #291 closed

[2016-02-22 09:59] namorrellek opened #295 "a"

[2016-02-22 10:00] #295 closed

[2016-02-22 11:21] namorrellek commented on #151
has there been an update to disable lens compensation or load an individual compensation in the meantime?

[2016-02-22 11:22] JamesH65 commented on #151
Not that I am aware off. Any thoughts 6x9?

On 22 February 2016 at 11:21, namorrellek <notifications@github.com> wrote:

[2016-02-22 12:48] 6by9 commented on #151
As stated on the forums (https://www.raspberrypi.org/forums/viewtopic.php?f=43&t=126220), no, there have been no changes to the lens shading arrangements.

Disabling lens shading isn't supported and is unlikely to produce a flat colour representation, and producing your own tables isn't supported either.

[2016-02-23 10:04] trilkk commented on #281
I actually ran into this issue recently. Prevents rendering proper stencil shadows.

Have you found any way to avoid the issue? Even at the cost of performance.

[2016-02-26 11:43] christinabrien commented on #281
I have a workaround, and it will cost performance. The idea is to split draw calls for multiple primitives into individual draw calls. It prevents vertices from being coalesced in the driver, and does the correct number of stencil ops.

[glDrawWorkaround.c.txt](https://github.com/raspberrypi/userland/files/148115/glDrawWorkaround.c.txt)

Overriding GL_TRIANGLES and GL_TRIANGLE_FAN is sufficient fo

[2016-03-01 14:56] TheSin- commented on #257
this is not true I build all this stuff in my repo for my image builder scripts

https://github.com/TheSin-/rpi-img-builder

I'm currently getting arm64 all setup to be added as well.  Feel free to use my public repo if you'd like.

[2016-03-01 15:06] clivem commented on #257
arm64, you say? Good luck with that! <evil laugh>

[2016-03-16 11:36] Metzelmaennchen commented on #281
Same problem when using two sided stencils for example in Doom3. The hint to the open source driver is nice, but how does this help on raspi1/zero when using a two sided stencil app there?

[2016-03-17 19:07] waveform80 commented on #167
Sorry it's taken me so long to get around to testing this (she's now 10 months old!). The buffer_num_recommended fix has certainly changed something - it now resets to lower values ... but I'm not sure they're "sensible" as such. Here's the output from a command line session demonstrating the issue:

[code]

Just to explain the output above: `camera._camera` is actual MMAL camera component. For th

[2016-03-17 20:26] 6by9 commented on #167
(I can relate - mine has her 1st birthday this week!)

That sounds like we still have an issue. At the IL level (hiding below MMAL), a buffer count of 0 does have a special meaning to signify proprietary tunnelling mode. That is repurposed for MMAL opaque images.
I've avoided Python having had a very bad introduction back in about 2005 (don't ask), but if I can reproduce just using the instruction

[2016-03-30 07:24] fordfrog opened #302 "dtoverlay fails to compile (master branch)"
[code]

[2016-03-30 07:53] clivem commented on #302
Don't think this has made it from pull request into the repo yet....

https://github.com/raspberrypi/userland/pull/300/commits/60ba26004c85ca2d730da771ea5a2e89e8149330

[2016-03-30 08:04] pelwell commented on #302
A patch for this, https://github.com/raspberrypi/userland/issues/301 and https://github.com/raspberrypi/userland/pull/300 is in the pipeline.

[2016-03-30 08:15] pelwell commented on #302
Fixed by the latest commit.

[2016-03-30 08:16] pelwell commented on #302
Please test and close if happy.

[2016-03-30 08:30] clivem commented on #302
/home/fedora/rpmbuild/BUILD/raspberrypi-userland-964deab/host_applications/linux/apps/dtoverlay/dtoverlay_main.c: In function 'overlay_applied':
/home/fedora/rpmbuild/BUILD/raspberrypi-userland-964deab/host_applications/linux/apps/dtoverlay/dtoverlay_main.c:636:2: error: ignoring return value of 'fread', declared with attribute warn_unused_result [-Werror=unused-result]
  (void)fread(status, sizeo

[2016-03-30 08:31] pelwell commented on #302
Which compiler are you using?

[2016-03-30 08:33] clivem commented on #302
[fedora@IQPlus3B1 SPECS]$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/armv7hl-redhat-linux-gnueabi/5.3.1/lto-wrapper
Target: armv7hl-redhat-linux-gnueabi
Configured with: ../configure --enable-bootstrap --enable-languages=c,c++,objc,obj-c++,fortran,ada,go,lto --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.c

[2016-03-30 08:42] clivem commented on #302
The "int bytes __attribute__((unused)); bytes =....." was the patch I was using. gcc5 is not going to be fooled into ignoring the "unused result" by "(void)", apparently. ;)

[2016-03-30 09:06] pelwell commented on #302
I think it's a bit much for the compiler to demand the use of a GNU extension when a perfectly good, portable syntax existed. Anyway, the latest update actually uses the result.

[2016-03-30 09:09] clivem commented on #302
LOL. No compiler can complain about actually using the result....... (Famous last words.)

[2016-03-30 09:11] pelwell commented on #302
Insufficient interest in the result?

[2016-03-30 09:13] clivem commented on #302
I'll suggest, "-Winsufficient-interest", to the gcc devs and see what they think. ;)

[2016-03-30 09:45] fordfrog commented on #302
with the latest fix it compiles fine. thanks for the fix :-) i'm happy (and i hope clivem is too) so closing this bug.

[2016-03-30 09:45] #302 closed

[2016-03-30 09:50] clivem commented on #302
I'm always happy! But now I'm being nosey.... Noticed "/var/tmp/portage/...." Portage.... That's Gentoo, right? Does that mean there is a Gentoo distro for Pi, or just that you are cross-compiling on a Gentoo desktop?

[2016-03-30 09:52] fordfrog opened #303 "linking issue - mmal: mmal_component_create_core: could not find component 'vc.ril.video_render' (master branch)"
this error occurs when trying to play video in kodi using dvdplayer.

here are mmal libs that kodi links against:
[code]
i'm not that familiar with linking stuff, but there are some libraries with undefined symbols. executables matching /opt/vc/bin/ and /opt/vc/lib/plugins/*so are ok but there are issues for /opt/vc/lib/*so (including complete list):

[code]

[2016-03-30 10:00] fordfrog commented on #302
yes, that's gentoo. gentoo is only one, there are no different distros for different archs. gentoo supports various archs including arm. i'm compiling the stuff directly on rpi2 (no cross-compiling, distcc etc). i compiled there whole system.

i am gentoo dev. i'm trying to make kodi to work on gentoo on rpi. in fact it already works with omxplayer. we have another issue with mmal that i reported

[2016-03-30 10:12] clivem commented on #302
Ah, OK. I think you should treat yourself to a Pi3 if you are compiling everything on Pi. It'll reduce the wait time. Just to give you an idea of the potential benefit, ISTR, kernel compile time is something like 2.5 hours on a 2B and only 1.5 hours on 3B.

[2016-03-30 10:17] fordfrog commented on #302
i was thinking about that too but i have 8 rpi2 boxes here that i need the same installation on so i need to build stuff on rpi2. but maybe i will buy rpi3 too to speed up some testing etc so i install on rpi2 just the already tested stuff which would definitely save me some time :-)

[2016-03-30 10:20] clivem commented on #302
Well, you'll be using exactly the same 32 bit image on the 3B, you'll mostly benefit from the increased core speed of the A53 cores. There is no arch change, or 64 bit.... No compatibilty issues. Anything you compile on 3B using your current 2B image will work just fine when run back on 2B.

[2016-03-30 10:50] fordfrog commented on #302
yeah, that could work. the only differences i found is the chip (BCM2836 vs BCM2837), processor (Cortex-A7 vs Cortex-A53) and that extra wireless/bluetooth so it could really work. good idea, thanks! :-)

[2016-03-30 11:47] 6by9 commented on #303
Taking just your first couple of lines, that sounds like a duplicate of https://github.com/raspberrypi/userland/issues/178 - the optimiser has been too thorough and removed the constructor that registers the VideoCore MMAL components.

I'm not sure what you're trying to impart with the linker dump.

[2016-03-30 12:15] fordfrog commented on #303
well, i suppose that "undefined symbol" is probably not ok, at least in some cases. but i'm not familiar with how linker works so maybe it is correct. anyway, i was able to remove some of the issues by modifying (or adding) target_link_libraries, like "target_link_libraries(dtovl fdt)", "target_link_libraries (mmal_core mmal_util vcos)" etc. i also found out that mmal_core needs mmal_util and mmal

[2016-03-30 12:24] pelwell commented on #303
@fordfrog You are right. At least in the case of libdtovl, the libfdt.a archive should be built into the shared library, rather than being an unresolved dependency.

[2016-03-30 12:28] fordfrog commented on #303
@pelwell any idea, what's causing that mmal error? is it related to the undefined symbols or the issue is different?

[2016-03-30 12:47] pelwell commented on #303
I believe all of the mmal undefined symbols are expected, in that they are exported by other shared libraries.

@6by9's explanation sounds plausible. MMAL uses the "constructor" attribute to mark functions that should be called before entering main(). If that mechanism is failing then the components will not be registered, which will lead to the error you saw. Note that this is a runtime error, no

[2016-03-30 12:49] 6by9 commented on #303
What exactly have you done? Steps to reproduce please.
Is this the Kodi installed from apt-get, or one you've compiled yourself?

It appears that Kodi isn't asking for libmmal_vc_client.so, and that is what will register the VideoCore MMAL components via the constructor (see #178). That's probably an issue with your build of Kodi, not the userland libraries themselves.

[2016-03-30 13:10] fordfrog commented on #303
* kodi 16.0, built on gentoo linux distro using kodi ebuild (bulding script)
* starting kodi, omxplayer disabled (in video acceleration menu section), playing video file (no picture, log file containing mmal errors)

* kodi really links only against three mmal libraries (mentioned in first post), mmal_client_vc not being one of them, if that is what you mean.
* mmal related stuff is handled in kod

[2016-03-30 13:31] 6by9 commented on #303
As well as.
mmal_core provides the core functionality.
mmal_util is helper functions
mmal_vc_client adds support for talking to VideoCore for hardware acceleration.

Please read #178, it even links to https://github.com/plexinc/OpenELEC.tv/commit/3e46d682e8bda34ff663ade0d2cd21f6f8893b39 which is the OpenELEC change to amend the linker flags. You probably want something similar.

[2016-03-30 15:27] ED6E0F17 commented on #303
I think this is the same thing on Gentoo:

https://github.com/srcshelton/gentoo-ebuilds/blob/master/media-libs/raspberrypi-userland/raspberrypi-userland-9999.ebuild#L23

[2016-03-30 15:36] fordfrog commented on #303
@ED6E0F17 yes, it is. i was told elsewhere that removing --as-needed is not a fix but workaround, so i was looking for another solution for kodi but found none. compiling c stuff is not what i am experienced with.

[2016-04-01 13:20] 6by9 commented on #303
Summary: This is a duplicate of #178, and should be closed as such.

If the community wishes to come up with an alternative then please put it forward.

The requirements are that:
- libmmal can be built independently of the component providers.
- somewhere, something has to load the component provider and trigger them to register the components that they support. This is currently done via the con

[2016-04-01 13:32] pelwell commented on #303
On the VPU the way I got round this was to have some key function like a constructor put in a ".init.*" section - see interface/vchi/vchi_autoservice.h for an example; this works because the linker never discards things in .init and init.*. I don't know if that technique works with the GNU linker, but it might be worth a try.

[2016-04-06 15:38] malc0 opened #305 "Slow handling of rapid MMAL_EVENT_PARAMETER_CHANGED events means you stop getting such events"
If camera_control_callback() (in RaspiVid.c) is slow -- for instance by redirecting stderr to a slow file and hitting the buffer flush during camera_control_callback()) -- and there are frequent calls to this function (by running with `-set` and `-nopreview` to destabilize the AWB loop) the camera component's event_pool runs out of buffers (by default mmal_component.c sets this to 4).

This result

[2016-04-08 19:27] popcornmix commented on #78
Latest rpi-update has a potential fix for this issue

[2016-04-13 20:52] TheSin- commented on #56
I just noticed that my repo does not have vcdbg/edid_parser, I'd like to be able to compile and armel/armhf and arm64 version of these for my dist, is there any chance these may become open someday, for those of us that don't want to use raspbian?

[2016-04-14 14:43] mihalop opened #307 "bcm_host_deinit() required"
I am using multiple processes interfacing with DispmanX API to create and use OpenGLES surfaces. Right now, we are using pi3d. These processes continue to run concurrently, and I need more than 4. But after bcm_host_init() is called internally by pi3d, there is no way to patch pi3d to disconnect from the service.

I have seen #197. In our case, calling bcm_host_deinit() after pi3d gets the surface

[2016-04-14 16:04] popcornmix commented on #307
You say multiple processes. How many processes do you need?
(I'm assuming you are talking about processes, i.e. showing up with different pid's in top, rather than threads).
What GPU features do the processes use? (e.g. dispmanx, GLES2, gencmd, tvservice, cec, openmax, mmal etc)
What is the process doing after the point you want to call bcm_host_deinit()? Will it never use the GPU again until it e

[2016-04-14 18:34] mihalop commented on #307
Yes, they are different processes, not threads. A limit would be something like 10 or 15. They are different python apps, based on pi3d, which under the hood uses GLES2, and dispmanx to obtain the gl surface. Each app draws each on each own surface.

These processes continuously use opengles calls. I though that perhaps I could get the gl surface, disconnect the services connected through the bcm_

[2016-04-15 10:22] popcornmix commented on #307
You don't need to call bcm_host_init. Make a copy of https://github.com/raspberrypi/userland/blob/master/host_applications/linux/libs/bcm_host/bcm_host.c#L83 and remove initialisation of services you don't need (probably gencmd, tv and cec).
Call your version of bcm_host_init to start and call vc_dispmanx_stop when you have finished with dispmanx. That may achieve what you need.

[2016-04-18 20:23] mihalop commented on #307
Made several tests. Stopping dispmanx kills all opengles surfaces that have been created. Tried it both on a single process as well as across processes (a master process makes the dispmanx calls while other processes draw on reurned opengles surfaces). So, this probably does not work.

It just seems that you just can't have more than 3-4 processes doing opengles calls. Will be implementing the app

[2016-04-18 20:26] popcornmix commented on #307
Did you check how many dispmanx clients can be registered? Looks like the limit is 8 (some of the other services like gencmd support fewer).

[2016-04-19 08:11] mihalop commented on #307
No. During tests I just called bcm_host_init and then shutdown dispmanx. Since it destroyed all created opengles surfaces, there was no point in digging in further. Even if it topped at 8 dispmanx connections, having only 8 processes is still not enough for what I am after.

[2016-04-19 11:22] popcornmix commented on #307
In that case you are probably doing something like Wayland.
I believe they have a "window manager" process which does the dispman calls and provides surfaces to other processes which just use GL.

[2016-04-26 13:09] malc0 commented on #305
Workaround: change MMAL_CONTROL_PORT_BUFFERS_MIN from 4 to 40, in interface/mmal/core/mmal_component.c, and recompile libmmal_core.so.

Obviously this is a complete hack, but posted lest anyone else wants to log gain settings over more than a few hours.

[2016-04-29 22:39] egoist-sx opened #311 "raspicam update for new camera"
I have just came across that a updated version of raspberry pi camera is released. New camera uses Sony IMX219PQ as CMOS sensor which supports ISP HDR. After checking RaspiStill.c, it seems default to old OV5647 CMOS, and no exposed interface for HDR mode.

Is HDR mode working in progress or in plan?

[2016-05-01 15:23] lurch commented on #311
https://www.raspberrypi.org/forums/viewtopic.php?f=43&t=145815 says "HDR is NOT supported. The ISP doesn't have suitable processing to implement it."

And I believe https://github.com/raspberrypi/userland/commit/f824ef5530012f83a9ef8a8089eaadf13f6963e9 is where support was added for the new camera.

[2016-05-02 19:36] 6by9 commented on #311
HDR is NOT supported on Pi and is extremely unlikely ever to be added to the GPU driver as there is no hardware to implement it so performance suffers.
The sensor supporting writing out the alternating exposure time frames/lines is about 10% of the problem, processing those images into something useful is the other 90%

@popcornmix Please close as won't fix.

[2016-05-02 19:36] #311 closed

[2016-05-05 14:21] fredericofs opened #313 "hello_video: Resquest: Define layer"
Please add a --layer option to the hello_video example.

[2016-05-05 14:27] popcornmix commented on #313
These are designed as simple examples of how to use the openmax api.
hello_video itself isn't designed as a video player, so adding command line options isn't what this is designed for.
There is a variant of hello_video here:
https://github.com/popcornmix/userland/tree/master/host_applications/linux/apps/hello_pi/hello_video_simple
which does configure the layer. Change this number here:
https://g

[2016-05-05 14:29] #313 closed

[2016-05-05 14:29] fredericofs commented on #313
Okay I understand.
I see the layer number is a bit shift opration, I dont understand #C yet. Can I change this to a simple number?
Thank you!

[2016-05-05 14:36] popcornmix commented on #313
Yes, layer is a signed 16-bit number with higher numbers being "on top".
(1<<15)-1 is the same as 32767 which is the largest number possible.

[2016-05-13 21:56] rfinnie opened #314 "Support arm64 compilation"
I've got a RPi3 with a test 64-bit kernel + userland setup going, and tried to compile the VideoCore userland, without success.  First obstacle was:
[code]

Stripping out -Werror allowed it to continue, leading it to:
[code]
followed by many more errors for khrn_int_hash_asm.s.  Might be more problems after that's cleared.

[2016-05-14 07:48] 6by9 commented on #314
The GPU is a 32 bit processor. I haven't checked, but I'm expecting that there's a heck of a lot more work to do to get Khronos or other multimedia extension stuff up and running against a 64bit kernel than just getting userland to build.

[2016-05-23 03:26] ykram commented on #254
@bluefishisme did you ever figure out how to fix your issue? The reason I ask is because I'm experiencing the exact same symptoms you are in that even vgencmd is freezing after openvg calls occur:

ioctl(3, 0xc01cc402

Appears to hang there and all subsequent openvg calls fail.

[2016-05-23 07:47] jgueytat commented on #245
Ok I'll take care of the push request.

[2016-05-23 07:56] jgueytat commented on #245
Here are the current *.pc files I'm using. It comes from the meta-raspberrypi repository for the Yocto project.
Could you please double check those? I will then integrate them and make the pull request.

Best Regards,

**bcm_host.pc**
$ cat bcm_host.pc
prefix=/usr
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/include

Name: bcm_host
Description: Broadcom VideoCore host API l

[2016-05-23 08:05] AndrewFromMelbourne commented on #245
Thanks for the update.

[2016-05-23 08:07] jgueytat commented on #245
The code is actually used in Yocto thanks to kraj. :)
https://github.com/kraj/userland/commit/e03358e0b2887afc733df1cdf2ea9aa1aa3573ef

[2016-05-23 12:07] jgueytat commented on #245
@popcornmix the pull request has already been done.
I think you will find  a lot of nice improvements in there.
https://github.com/raspberrypi/userland/pull/290

Best Regards,
Hope to see good news soon,

[2016-05-23 15:20] popcornmix commented on #254
@ykram Do you have an application I can run on raspbian that provokes the vcos_abort?
I could at least then determine the backtrace that resulted in that.

[2016-05-23 15:34] ykram commented on #254
I can upload the source being used that triggers the issue although it
depends on the OpenVG wrapper (ajstarks/openvg repo) and also requires
input as it uses IPC to dictate how things get drawn but I can provide a
dummy app that can send data so it'd work. What's the best way to get those
to you?

On Mon, May 23, 2016 at 9:20 AM, popcornmix <notifications@github.com>
wrote:

[2016-05-23 15:44] popcornmix commented on #254
Just zip/tar up the files I need to run and give me a link (e.g. to dropbox/google drive).
I don't need the source just something that when run provokes a vcos_abort.

[2016-05-23 18:16] ykram commented on #254
I'll try to get this archived and sent to you today. I have to recompile
some network specific parts to make it so that you'll be able to reproduce
sending/receiving data that the OpenVG calls depend on.

On Mon, May 23, 2016 at 9:44 AM, popcornmix <notifications@github.com>
wrote:

[2016-05-24 00:13] ykram commented on #254
So I've been trying to reproduce this using an application that reads
network data and replays it back to the server so that the OpenVG client
can read the data and interpret it + display it but I can't get it to crash
this way. If I use the application as intended however then it'll crash
randomly (vcos_abort()). Is there anyway I can generate a
stacktrace/coredump and get you those files to debu

[2016-05-25 15:45] popcornmix commented on #254
It's the gpu that is calling vcos_abort, so arm stacktrace/coredump won't help.
It's not possible to capture a gpu stacktrace/coredump.

[2016-05-25 17:40] ykram commented on #254
Ah, bummer. I'll work on creating a POC that reproduces the issue and will
reply back here as soon as I get something created that I can use to
reliably reproduce the bug.

On Wed, May 25, 2016 at 9:56 AM, popcornmix <notifications@github.com>
wrote:

[2016-05-31 11:55] popcornmix commented on #245
Latest firmware includes the .pc files from https://github.com/kraj/userland/commit/e03358e0b2887afc733df1cdf2ea9aa1aa3573ef
See: https://github.com/raspberrypi/firmware/tree/master/opt/vc/lib/pkgconfig
@XECDesign is this as desired?

[2016-05-31 12:03] XECDesign commented on #245
They're there and they're usable with the appropriate PKG_CONFIG_PATH variable, so it looks good to me.

[2016-05-31 13:27] #245 closed

[2016-06-02 09:03] fordfrog opened #316 "warning: implicit declaration of function 'sbrk' and 'strdup'"
while installing latest (20160531) raspberrypi-userland on gentoo, i got these QA warnings:

[code]

i don't know whether it is intended or it should be fixed so can someone who knows this stuff please clarify it?

[2016-06-02 19:50] fordfrog commented on #316
i found this info: http://stackoverflow.com/questions/8440816/warning-implicit-declaration-of-function

so it means that these two functions are used before they are declared (either in header file or before they are first used).

[2016-06-03 12:47] popcornmix commented on #316
``sbrk`` should be declared in ``<unistd.h>`` which is being included.
``strdup`` should be declared in ``<string.h>`` which is being included.
I'm not sure if the gentoo compiler doesn't support these?

I don't think ``sbrk`` or ``strdup`` are typically used by userland (mostly for test functions), and the lack of a declaration for a function with simple types is normally not fatal, so it's proba

[2016-06-03 13:22] pelwell commented on #316
strdup is part of POSIX so ought to be included. sbrk has been removed, so perhaps that failure is more understandable. Which compiler (including version) are you using?

[2016-06-03 14:40] popcornmix commented on #221
I believe this has been resolved. Feel free to reopen if it hasn't.

[2016-06-03 14:40] #221 closed

[2016-06-03 14:40] popcornmix commented on #220
I believe this has been resolved. Feel free to reopen if it hasn't.

[2016-06-03 14:40] #220 closed

[2016-06-03 14:42] popcornmix commented on #173
Closing due to lack of response.

[2016-06-03 14:42] #173 closed

[2016-06-03 14:43] popcornmix commented on #120
Closing due to lack of response. Feel free to reopen if problem still exists.

[2016-06-03 14:43] #120 closed

[2016-06-03 14:45] popcornmix commented on #28
Sounds like the issue has solutions now.

[2016-06-03 14:45] #28 closed

[2016-06-03 14:45] #22 closed

[2016-06-03 14:46] popcornmix commented on #78
I believe this is resolved. Please reopen if it is not.

[2016-06-03 14:46] #78 closed

[2016-06-03 14:47] #289 closed

[2016-06-03 14:47] #278 closed

[2016-06-03 14:49] lurch commented on #22
@popcornmix sorry, I forgot to close this after reading "Or use the cmake files which build them all."

[2016-06-03 14:50] popcornmix commented on #243
Seems like the latency is understood, so closing.

[2016-06-03 14:50] #243 closed

[2016-06-03 16:54] ED6E0F17 commented on #316
I have seen this error previously, and now that I have checked "string,h" on wheezy I understand why.
strdup is not defined, strdupa is.

[2016-06-03 18:24] ykram commented on #254
I'm still trying to get a way to reproduce this reliably but in the mean
time I did find where the loop/wait seems to occur, if this is helpful:
#0  0x76d8ba40 in do_futex_wait (isem=isem@entry=0x76c29a40 <khrn_queue+76>)
    at ../nptl/sysdeps/unix/sysv/linux/sem_wait.c:48
#1  0x76d8baf4 in __new_sem_wait (sem=0x76c29a40 <khrn_queue+76>)
    at ../nptl/sysdeps/unix/sysv/linux/sem_wait.c:69
#2  0x

[2016-06-03 21:43] ED6E0F17 commented on #316
It look as though "_GNU_SOURCE" needs to be defined to get "USE_XOPEN_EXTENDED", and then define sbrk and strdup. "_GNU_SOURCE" is defined in some places, but not everywhere that it is needed.

[2016-06-04 10:00] fordfrog commented on #316
@pelwell gcc 4.9.3

[2016-06-06 11:01] ED6E0F17 commented on #316
It becomes an issue when the compiler is throwing so many warnings that you stop reading them, and warning is given every time that "vcos.h" is included. Most of these seem to be in the "containers" directory, which defines POSIX level 2001, but strdup requires POSIX level 2008: https://github.com/raspberrypi/userland/blob/master/containers/CMakeLists.txt#L16

What I have done is this: https://git

[2016-06-06 11:58] popcornmix commented on #316
@fordfrog does @ED6E0F17's commit work for you?
If so, I'm happy to include a change like that.

[2016-06-08 06:18] ED6E0F17 commented on #316
I need to abandon that patch. Cmake is not always used to build the applications in HelloPi, so it is necessary to keep the local definitions of _GNU_SOURCE there.

[2016-06-09 10:59] alexellis commented on #257
Is there a binary distribution that I can add to Raspbian? I'm using resin/rpi-raspbian as a Docker image and it doesn't contain raspistill?

[2016-06-09 14:11] fordfrog commented on #316
@popcornmix, @ED6E0F17: the patch works fine when building using cmake.

i will use it untill a more general solution is found. thank you.

[2016-06-10 10:11] shrx commented on #30
It appears this is fixed, I haven't noticed the color bands since.

[2016-06-10 10:11] #30 closed

[2016-06-10 10:17] shrx opened #317 "raspistill: Strange blue artifacts in dark portions of an image"
_Disclaimer: I have also posted this issue on the [RPi forums](https://www.raspberrypi.org/forums/viewtopic.php?f=43&t=150054), however it received no attention._

I have noticed that sometimes, if the light is just weak enough, the camera will produce a strange blue tint over darker parts of the scene.
Please check the images in album to see what I mean: http://imgur.com/a/kTvyE
The first image,

[2016-06-10 10:42] 6by9 commented on #317
So disable ```ov5647_acls=1``` again. It is not enabled by default as it hasn't had the testing required to make that change.
You're also not using a standard Pi camera, so lens shading artifacts are expected.

The other recommendation is to add ```-st``` for a stats pass on the image to allow AE, AWB, and lens shading to all do the best job they can.

[2016-06-10 12:13] shrx commented on #317
I am using a standard Pi camera, it has not been modified in any way. It just looks through another, separate lens. I need the `ov5647_acls=1` parameter to help with the cyan vignetting that is otherwise present (even without the secondary lens).

[2016-06-10 12:32] 6by9 commented on #317
Lens shading is a factor of the total optics the camera is seeing through. By adding a second lens you've changed those optics and observe a different lens shading situation to the standard camera with unmodified optics.

```ov5647_acls=1``` modifies the handover of data from preview to stills. ```-st``` forces recomputation on the captured frame in the stills processing. They give the same end re

[2016-06-10 18:14] shrx commented on #317
I tried with `ov5647_acls=1` disabled and `-st` enabled. Here is the comparison:

`ov5647_acls=1` enabled; `-st` disabled
![acls](http://i.imgur.com/hHgLuB2.jpg)
`ov5647_acls=1` disabled; `-st` enabled
![st](http://i.imgur.com/hHgLuB2.jpg)

The second does indeed look better, however the greens might be a bit too red.

[2016-06-16 17:31] rwb27 commented on #151
Hello,
  I was wondering if there might have been any change on this since the camera module v2 came out - presumably there's a different lens shading correction for v1 and v2 of the camera module; is there now a way to switch between them?
  I've been using the camera board in a microscope, where the optics really are pretty much uniform; the ability to turn off lens shading correction would be r

[2016-06-16 19:25] 6by9 commented on #151
No, no change - it's a question of resourcing the change when very few people will make use of it.
The V2 camera uses an automatic lens shading algorithm, but then again so did the V1 to a lesser degree.

[2016-06-17 15:44] rwb27 commented on #151
Fair enough - thanks for the answer.  Perhaps with some experimentation I might be able to get the automatic lens shading to do the right thing - and if I do I'll certainly post it somewhere.

[2016-06-18 10:51] mutability opened #319 "raspistill --timelapse + --annotate puts the same timestamp on every frame"
Using raspistill --annotate 12 --timelapse <interval>, every frame is annotated with an identical timestamp - the time that raspistill was started. It should use the time that the frame was taken.

(libraspberrypi-bin 1.20160523-1)

[2016-06-18 10:56] mutability opened #320 "raspistill --framestart off by one error"
raspistill help claims:

-fs, --framestart	: Starting frame number in output pattern(%d)

However, if you provide (for example) --framestart 1234 then the first frame captured is frame 1235.

[code]

(libraspberrypi-bin 1.20160523-1)

[2016-06-19 10:43] #319 closed

[2016-06-19 18:17] sirdel commented on #245
On a clean raspbian install pkg-config checks these locations:
`pkg-config --variable pc_path pkg-config /usr/local/lib/arm-linux-gnueabihf/pkgconfig:/usr/local/lib/pkgconfig:/usr/local/share/pkgconfig:/usr/lib/arm-linux-gnueabihf/pkgconfig:/usr/lib/pkgconfig:/usr/share/pkgconfig`

What is the appropriate PKG_CONFIG_PATH ??

[2016-06-20 12:26] popcornmix commented on #245
I imagine it's ``/opt/vc/lib/pkgconfig/`` as that is where the nre ``.pc`` files are.

[2016-06-27 08:32] Ruffio commented on #12
@popcornmix this should be closed as it looks like the issue has been fixed, and it lacks activity

[2016-06-27 08:34] Ruffio commented on #34
@towolf is this still an issue? It looks like it has been solved.

[2016-06-27 08:35] Ruffio commented on #50
@JamesH65 how is this coming along?

[2016-06-27 08:37] Ruffio commented on #76
@dmopalmer @jollyjollyjolly is this still an issue?

[2016-06-27 08:38] Ruffio commented on #98
@JamesH65 whats the status on this issue?

[2016-06-27 08:39] Ruffio commented on #146
@vlachoudis did it solve your issue?

[2016-06-27 08:40] Ruffio commented on #170
@chewep is this still an issue?

[2016-06-27 08:40] Ruffio commented on #153
@JamesH65 what is the status on this issue?

[2016-06-27 08:47] JamesH65 commented on #50
I do not have access to the GPU source, and haven't had for some years. @6by9 is the only option on this one.

[2016-06-27 08:48] JamesH65 commented on #98
No longer have access to required source. @6by9

[2016-06-27 08:49] JamesH65 commented on #153
No longer have access to requires sourcecode. @6by9

[2016-06-27 08:52] Ruffio commented on #98
@JamesH65, then I suggest that you no longer are assigned to this issue.
@6by9 ???

[2016-06-27 08:52] Ruffio commented on #153
@JamesH65, then I suggest that you no longer are assigned to this issue...
@6by9 ???

[2016-06-27 08:52] Ruffio commented on #50
@JamesH65, then I suggest that you no longer are assigned to this issue...
@6by9 ???

[2016-06-27 08:53] JamesH65 commented on #98
Feel free to reassign, if you can find someone to look at it.

On 27 June 2016 at 09:52, Rasmus Christiansen <notifications@github.com>
wrote:

[2016-06-27 08:54] 6by9 commented on #50
Not a priority for me.
I'm playing with that code for other reasons and there appear to be interactions elsewhere.

[2016-06-27 08:55] vlachoudis commented on #146
Sorry, but I've abandoned this project. I am using the RPi for another task now.

[2016-06-27 08:56] Ruffio commented on #50
@6by9, who can remove @JamesH65 as assignee on these issues?

[2016-06-27 08:56] Ruffio commented on #146
@vlachoudis then please close the issue... Thanks.

[2016-06-27 09:04] #146 closed

[2016-06-27 09:04] vlachoudis commented on #146
Thank you

[2016-06-27 09:06] Ruffio commented on #188
@popcornmix has this been fixed?

[2016-06-27 09:07] 6by9 commented on #98
@JamesH65 Expected behaviour.
The preview window will retain the source image aspect ratio and symmetrically letterbox/pillarbox.
If your window aspect ratio doesn't match that of your source image, it will then move up/down/left/right.

There is the option to ignore aspect ratio with the noaspect field within MMAL_DISPLAYREGION_T - https://github.com/raspberrypi/userland/blob/master/interface/mma

[2016-06-27 09:17] 6by9 commented on #153
With a very brief test I don't see the same issue, but perhaps I'm not saturating the entire sensor.
Not on my list of priorities (this is going to be my answer on a lot of issues).

[2016-06-27 09:20] Ruffio commented on #153
@jpjodoin is this still an issue?

[2016-06-27 09:22] Ruffio commented on #98
So this should be closed as it is working as designed?

[2016-06-27 09:26] JamesH65 commented on #98
I'm wondering why I opened this issue. Clearly the origin will move for different resolutions, so I am not sure what/why I posted the issue. I suspect my description of the issues I saw is not accurate, but it was so long ago I cannot remember what the exact issue was. My suspicion is the 'centre' of the image changes for some preview sizes, not the origin. But I am going to close it anyway.

[2016-06-27 09:26] #98 closed

[2016-06-27 12:52] rewolff commented on #188
The "bug" that the compiler noticed has been fixed. Still a lot of compile errors remain.
I've fixed a few:  http://prive.bitwizard.nl/compile_fixes.patch

There are  a bunch of:

warnings that I haven't been able to fix, but my attempts remain in the patch.

The manual for sbreak says it is declared in unistd.h, and including it doesn't help. Declaring it perhaps a bit sloppy makes the compiler g

[2016-06-27 23:22] towolf commented on #34
No

[2016-06-27 23:22] #34 closed

[2016-07-13 13:31] ldmnyblzs opened #323 "Requesting buffer size messes up client state"
When `glGetBufferParameteriv` is called with `GL_BUFFER_SIZE`, it creates and stores a `GLXX_BUFFER_INFO_T` but sets `id` and `cached_size` only. `mapped_pointer` and `mapped_size` get random values. This makes every subsequent call to `glBufferData` fail and `glGetBufferPointervOES` also returns false information from this point on.

[2016-07-13 13:43] popcornmix commented on #323
We don't have anyone who really knows this code, and GL is being replaced with the open-source arm side driver. I'm just guessing, but this code does look a little suspicious:
https://github.com/raspberrypi/userland/blob/master/interface/khronos/glxx/glxx_client.c#L2110

Could you try inserting:
```glxx_buffer_info_get(state, target, &buffer);```
before the
``buffer.cached_size = params[0];``
line

[2016-07-30 07:20] Ruffio commented on #193
@popcornmix consider to close this due to lack of response from 27 Jun 2015

[2016-07-30 07:25] Ruffio commented on #178
@ajlennon is it working?

[2016-07-30 07:26] Ruffio commented on #175
@popcornmix consider closing this due to lack of response since 27 Jun 2015

[2016-07-30 07:30] Ruffio commented on #83
@JamesH65 I can see that you are assigned to this issue since 2013. How is the investigation going?

[2016-07-30 07:36] Ruffio commented on #12
@popcornmix please consider to close this issue as it looks like it has been resolved

[2016-07-30 22:48] chinasaur commented on #193
If this is still backwards, recommend at least documenting the issue.

[2016-07-31 08:38] 6by9 commented on #83
(I find http://www.awaresystems.be/imaging/tiff/tifftags/ the most useful resource for EXIF tags)

1) The mapping came out of discussion between the imaging experts and the OpenMaxIL spec. IIRC IL and EXIF do not agree on the definition of the settings.

2) As James has said, there are only settings for auto and manual - http://www.awaresystems.be/imaging/tiff/tifftags/privateifd/exif/whitebalance

[2016-07-31 14:14] popcornmix commented on #193
From https://en.wikipedia.org/wiki/RGBA_color_space

We are using the "RGBA (byte-order)" format described there which seems a perfectly sane choice.

[2016-07-31 15:18] chinasaur commented on #193
IIRC from 2 years ago, calling the GRAPHICS_RGBA32 macro with full "r" as input seemed to result in a blue graphic; is this no longer an issue?

[2016-07-31 15:30] popcornmix commented on #193
What were you doing with the output of GRAPHICS_RGBA32 ?
Adding to a dispmanx resource? How did you create it? It is possible to create RGBA and BGRA resources with dispmanx.

The whole framework/graphics_x code is historical and not used by any of the code we actively work on (in the very early days it was used by apps that run purely on the GPU and it did get ported to the arm for very early dem

[2016-07-31 19:26] JamesH65 commented on #193
Is this a camera issue? 6x9 made a change to fix something very similar.

[2016-07-31 20:34] 6by9 commented on #193
No, GRAPHICS_RGBA32 appears to be in https://github.com/raspberrypi/userland/blob/master/host_applications/linux/apps/hello_pi/libs/vgfont/vgfont.h#L47, so a macro for assigning R, G, B, and A values to a pixel.
FYI My change was relating to RGB888 and BGR888 (24bpp, no alpha) generated from the camera component only.

I did a grep this morning, and host_applications/linux/apps/hello_pi/hello_font

[2016-07-31 20:47] chinasaur commented on #193
Yes, sorry, perhaps I'm using the output incorrectly.  IIRC, I cargo culted hello_font/main.c use of that macro to pass into fg/bg_colour in vgfont.h::graphics_resource_render_text_ext.

I guess either 1) this is no longer an issue or 2) graphics_resource_render_text_ext should be documented as expecting BGRA or 3) the macro is broken.  The macro calls RGBA888, so if RGB888 needed a fix, maybe tha

[2016-07-31 20:52] 6by9 commented on #193
Ignore the RGB888 issue. It was a mis-mapping solely on the MMAL/IL camera component that when it was asked for RGB888 mapped it to the wrong internal format.
The IL API interprets the pixel order differently for RGB vs MMAL and the GPU, and the wrong one was chosen in the mapping when support for RGB888 was added.

[2016-08-01 10:03] mukeshkumard opened #326 "HelloVideo not working for raspberry pi 3 on android platform"
Hi,

I have cross compiled user land application "hello video" for raspberry pi 3 on android(n preview 2).
There is no error while running the application but video(test.h264) is not playing
PFA log below

rpi3:/storage/emulated/0 # hellovideo test.h264
Entering bcm_host_init
bcm_host_init success and call to video decode test
Video Decode Test log_trace
status from component : video_decode 0
stat

[2016-08-01 13:09] 6by9 commented on #326
Does it work on a Pi2 with N preview 2, or a Pi3 with Lollipop? Changing two variables at once makes it harder to find the issue.

As a first guess Android may have changed the default layer that the UI is rendered on, so you just can't see the video being decoded and rendered. You'd be wanting to add a OMX_SetParameter call for OMX_IndexConfigDisplayRegion, passing in a OMX_CONFIG_DISPLAYREGIONTY

[2016-08-01 13:34] popcornmix commented on #326
You might want want to try this variant: https://github.com/popcornmix/userland/blob/master/host_applications/linux/apps/hello_pi/splash_video/video.c
which does render to the highest possible layer.

[2016-08-01 18:08] popcornmix commented on #193
hello_font has this code
[code]
and the line at the top is red (oops) and the line at bottom is green.

Now there are a couple of possible solutions to this. Obviously could flip the macro, or could swap the VC_IMAGE_T type GRAPHICS_RESOURCE_RGBA32 is mapped to (currently VC_IMAGE_RGBA32, but we do support a BGRA format which would possibly match).

We need to be a little cautious about flipping t

[2016-08-02 04:54] rockster4india commented on #326
@6by9
Actually we are not able to port either( Pi2 with N preview 2, or a Pi3 with Lollipop) . but I tried putting linux on  RPI3 and ran userland application. It worked well on that too and able to play HD video but not on android.

Thank you for suggestion @6by9  @popcornmix . Let me try and let you know.

[2016-08-02 13:45] rockster4india commented on #326
I tried both But still I am not getting video on screen.  Is there any other **configuration** need to be changed? and  It may be a silly question . I just want to know where exactly _UI(window or surface) is created for video through userland application_. for eg: In Linux perspective , when we write or draw something framebuffer(fb) device , It will be  displayed on screen(display unit) and In a

[2016-08-02 15:17] popcornmix commented on #326
Can you run vcgencmd?
``vcgencmd dispmanx_list`` should show you the layers on display.

[2016-08-02 16:04] 6by9 commented on #326
Daft thought - has Android switched to the OpenGL driver instead of GLES?
If so then video_render is going to cause grief. Isn't DispmanX disabled in those situations? I thought I saw an exchange with Eric that set that up and failed opening the display.

HelloVideo does not render via any of the Android frameworks, nor the framebuffer. It adds a layer to the scene to be composed that SurfaceFling

[2016-08-02 19:03] popcornmix commented on #326
@6by9 yes good point. You can't use video_render in conjunction with the the arm side graphics driver (dtoverlay=vc4-kms-v3d-overlay).

Eventually there may be a way of displaying decoded video buffer through the arm side driver, but it won't involve the current video_render.

[2016-08-03 05:51] rockster4india commented on #326
Hi,
`vcgencmd dispmanx_list` was not installed - got an error "vcgencmd: not found"

I tried dumpsys of SurfaceFlinger which also provides Layers on display.  Will that help you to predict something?
PFA dumpsys file.
[dumpsys_SurfaceFlinger.txt](https://github.com/raspberrypi/userland/files/398632/dumpsys_SurfaceFlinger.txt)

and I am planning to go through the flow of video_render i.e from ilcli

[2016-08-03 09:09] 6by9 commented on #326
It sounds like video_render is doing all the right stuff, just not getting images on the screen - the tracing you can do is unlikely to show up anything.

As above, check if you are using the OpenGL driver by looking in /boot/config.txt for a line "dtoverlay=vc4-kms-v3d-overlay". If so then video_render will not work at all as composition is controlled solely from the ARM and video_render can't in

[2016-08-03 09:58] rockster4india commented on #326
Yes It is mentioned in config.txt as
`dtoverlay=vc4-kms-v3d,cma-256 `
PFA config.txt file.
[config.txt](https://github.com/raspberrypi/userland/files/399128/config.txt)
So What should I do now? Is there any other way to change control?(sorry if my question is wrong)

Some Addition information below which may help you
In RPI3 at boot time I am getting log as
`loaded egl library /system/lib/egl/libG

[2016-08-03 10:43] popcornmix commented on #326
No video_render is not supposed to work with vc4-kms-v3d (which is still at an experimental stage and doesn't support hardware video decode).

The video_decode component should work, and can return pixels. You can then display these pixels through whatever means are suitable (e.g. the framebuffer or an EGL surface) if you are trying to get HW video decode working in Android.

In the future there w

[2016-08-04 13:18] rockster4india commented on #326
Thank you for your valuable comments @popcornmix @6by9

[2016-08-05 06:42] mukeshkumard opened #327 "How to get YUV data from decoder after decoding in hellovideo application?"
Hi,
I am running userland (hellovideo) application in Android rpi3. After fetching h264 data from file OMX_EmptyThisBuffer() is invoked to transfer the buffer to decoder. In my case after decoding the data,I am not able to see the video on screen. So to test whether the h264 data is decoded to YUV data, can I use OMX_FillThisBuffer()  in video.c to get the decoded buffer from decoder. Will the dec

[2016-08-05 08:07] JamesH65 commented on #327
This is a technical question rather than a bug report and should therefor
for be posted on the Raspberry Pi forums, not here.

On 5 August 2016 at 07:42, Mukesh <notifications@github.com> wrote:

[2016-08-05 08:45] mukeshkumard commented on #327
Okay ThankYou!!!

[2016-08-05 08:45] #327 closed

[2016-08-05 08:52] mukeshkumard commented on #326
To get pixels(YUV) from decoder after decoding I am using OMX_FillThisBuffer() in video.c under hello_video. For that I am setting portIndex for output buffer as 131 since input buffer portIndex is 130. When I call  setParameter for output port using 131, Bad PortIndex error is thrown. Is 131 a valid port index or which portIndex should I use for output port.

[2016-08-05 08:53] JamesH65 commented on #326
This is NOT the place for technical help, its for bug reports. Please use
the forum.

On 5 August 2016 at 09:52, Mukesh <notifications@github.com> wrote:

[2016-08-05 11:35] popcornmix commented on #326
Yes, this would be a better place for support questions:
https://www.raspberrypi.org/forums/viewforum.php?f=70

[2016-08-05 11:35] #326 closed

[2016-08-05 16:43] fhunleth opened #328 "Qt render performance w/ eglfs is 10x slower than x11 OpenGL ES?"
Using a simple Qt 5.6 app that draws rectangles and a few lines of text, I'm getting a 10x slowdown when running fullscreen with eglfs vs. x11. On a Pi Zero, the difference is roughly 350 ms/draw vs. <30 ms/draw. I can reproduce a similar slowdown on a Pi 3 as well.

I'm using a fresh `2016-05-27-raspbian-jessie.img` installation, but I've been able to reproduce the issue with other versions. To t

[2016-08-05 18:38] popcornmix commented on #328
Are you using the experimental graphics driver? (``dtoverlay=vc4-kms-v3d``)
https://www.raspberrypi.org/blog/another-new-raspbian-release/

If you aren't I suspect you are using a software mesa implementation which will obviously be slow.

Without the experimental driver, the firmware only supports OpenGLES 2, not desktop OpenGL which I suspect you may need.
(Although I know nothing about Qt with

[2016-08-05 21:40] fhunleth commented on #328
Thanks for responding! I'm not using the experimental graphics driver, but that's actually pretty interesting.

As for OpenGL vs. OpenGLES 2, I'm pretty sure that it's running against OpenGLES 2. The Qt project makes a big deal about supporting it, I got compiler errors when I didn't have the include/lib directories pointed properly to `/opt/vc/...`, and here's a snippet from the Qt `./configure`